<!DOCTYPE html>
<html lang="en">
<!-- xhtml/index.html08:17:22 -->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Home | NFT Talent</title>

    <!-- Favicon icon -->
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/assets/img/favicon/favicon.ico" />

    <link rel="stylesheet" href="/admin/assets/vendor/chartist/css/chartist.min.css" />

    <link rel="stylesheet" href="/assets/css/simplepicker.css">

    <link rel="stylesheet" href="/admin/css/admin-style.css" />
    <link rel="stylesheet" href="/assets/css/app.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/fonts/fonts.css" />
</head>

<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!-- Include Header -->
        <%- include('header'); -%>

            <!-- Include Sidebar -->
            <%- include('sidebar'); -%>

                <!--**********************************
            Content body start
        ***********************************-->
                <div class="content-body">
                    <div class="create-main">
                        <div class="container-fluid">
                            <div class="row create-inr">
                                <div class="col-lg-8 col-heading-otr">
                                    <div class="heading-inr">
                                        <h3 class="heading heading-h3">
                                            Create Single Artwork
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <span class="line"></span>
                            <div class="row row-custon">
                                <div class="col-lg-8 col-create-otr">
                                    <div class="col-create-inr">
                                        <h4 class="head heading-h4">Upload Artwork</h4>
                                        <div id="uploadArea" class="upload-area">
                                            <div class="upload-area__header">
                                                <p class="upload-area__title"></p>
                                                <p class="upload-area__paragraph">
                                                    <strong class="upload-area__tooltip">
                                                        <span class="upload-area__tooltip-data"></span>
                                                    </strong>
                                                </p>
                                            </div>
                                            <div id="dropZoon" class="upload-area__drop-zoon drop-zoon">
                                                <span class="drop-zoon__icon">
                                                    <img src="/assets/img/create-upload.svg" alt="upload">
                                                </span>
                                                <p class="desc body-sb">
                                                    JPG, JPEG, PNG & GIF. Max 15 MB.
                                                </p>
                                                <p class="drop-zoon__paragraph btn-outline1">
                                                    Browse
                                                </p>
                                                <span id="loadingText" class="drop-zoon__loading-text">Please
                                                    Wait</span>
                                                <div class="img-main">
                                                    <img src="../assets/img/user-Image15.jpg" alt="Preview Image"
                                                        id="previewImage" class="drop-zoon__preview-image"
                                                        draggable="false" />
                                                </div>
                                                <input type="file" id="fileInput" class="drop-zoon__file-input"
                                                    accept=".jpeg, .jpg, .png, .gif" />
                                            </div>
                                            <div id="fileDetails" class="upload-area__file-details file-details">
                                                <h3 class="file-details__title">
                                                    Uploaded File
                                                </h3>
                                                <div id="uploadedFile" class="uploaded-file">
                                                    <div class="uploaded-file__icon-container">
                                                        <i class="bx bxs-file-blank uploaded-file__icon"></i>
                                                        <span class="uploaded-file__icon-text"></span>
                                                    </div>
                                                    <div id="uploadedFileInfo" class="uploaded-file__info">
                                                        <span class="uploaded-file__name">Project 1</span>
                                                        <span class="uploaded-file__counter">0%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <form class="form-main" method="post">
                                            <h3 class="head-2 heading-h3">
                                                Artwork Details
                                            </h3>

                                            <h4 class="head-2 heading-h4">
                                                Artwork Name
                                            </h4>
                                            <div class="input-otr" tabindex="1">
                                                <input id="name" class="input" type="text" name="name"
                                                    placeholder="Artwork Name" required />
                                            </div>

                                            <h4 class="head-2 heading-h4">
                                                Description
                                            </h4>
                                            <div class="input-otr" tabindex="2">
                                                <textarea id="desc" class="textarea input" name="disc"
                                                    placeholder="Artwork Description" required></textarea>
                                            </div>

                                            <h4 class="head-2 heading-h4">
                                                Quantity
                                            </h4>
                                            <div class="input-otr" tabindex="3">
                                                <input id="quantity" class="input" type="number" name="quantity"
                                                    placeholder="Quantity" required />
                                            </div>

                                            <h4 class="head-2 heading-h4">
                                                Blockchain
                                            </h4>
                                            <div class="copyies-main single-copy">
                                                <div class="input-otr-select" tabindex="11">
                                                    <select id='blockchainList'>
                                                        <option class="select-styled" value="hide" disabled>
                                                            Select Blockchain
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <h4 class="head-2 heading-h4">
                                                Price
                                            </h4>
                                            <div class="input-otr" tabindex="4">
                                                <input id="price" class="input" type="number" name="price"
                                                    placeholder="Base Price of the Artwork in BNB" required />
                                            </div>
                                            <h4 class="head-2 heading-h4">
                                                Category
                                            </h4>
                                            <div class="copyies-main single-copy">
                                                <div class="input-otr-select " tabindex="5">
                                                    <select id='category'>
                                                        <option class="select-styled" value="hide" disabled>
                                                            Select Category
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <h4 class="head-2 heading-h4">
                                                Collections
                                            </h4>
                                            <div class="copyies-main single-copy">
                                                <div class="input-otr-select" tabindex="6">
                                                    <select id='collection'>
                                                        <option class="select-styled" value="hide" disabled>
                                                            Select Collection
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>


                                            <h4 class="head-2 heading-h4">
                                                Royalty and Collaborators
                                            </h4>

                                            <div class="input-otr" tabindex="8">
                                                <input id="royalties" class="input" type="number" name="royalties"
                                                    placeholder="Royalty Percentage" required />
                                            </div>

                                            <div class="btn-adder">
                                                <a href="" id="adder" class="add-input appendit to-remove"><img
                                                        src="../assets/img/plus-minus-stripe.svg"
                                                        alt="plus-minus" /></a>
                                                <a href="" id="remover" class="add-input appendit to-remove"><img
                                                        src="../assets/img/minus-strip.svg" alt="plus-minus" /></a>
                                            </div>

                                            <div>
                                                <div class="input-main">
                                                    <div class="input-otr-2" tabindex="9">
                                                        <input class="input" type="text" name="collaborator"
                                                            placeholder="Collaborators Address" />
                                                    </div>
                                                    <div class="input-otr-2" tabindex="10">
                                                        <input class="input" type="number" name="percent"
                                                            placeholder="Collaborators Percentage" />
                                                    </div>
                                                </div>
                                                <div id="newinput"></div>
                                            </div>
                                        </form>

                                        <div class="check for-auctions">
                                            <label>
                                                <span class="check-inner">
                                                    <input type="radio" id="unlimited-auction"
                                                        class="input-check opacity-0 absolute" name="choose"
                                                        value="Auction" />
                                                    <svg class="fill-current" width="16" height="16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <circle cx="8" cy="8" r="8" fill="#E42575" />
                                                    </svg>
                                                </span>
                                                <span class="select-none heading-h5">Put on Unlimited Auction</span>
                                            </label>
                                        </div>
                                        <p class="desc body-m">
                                            You’ll start receiving bids for this artwork for unlimited time.
                                        </p>

                                        <!-- =====change starts===== -->
                                        <!-- =====Timed sale starts===== -->

                                        <div class="check">
                                            <label class="">
                                                <span class="check-inner unlock">
                                                    <input type="radio" id="on-timed-sale"
                                                        class="input-check opacity-0 absolute" name="choose"
                                                        value="Timed Auction" />
                                                    <svg class="fill-current" width="16" height="16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <circle cx="8" cy="8" r="8" fill="#E42575" />
                                                    </svg>
                                                </span>
                                                <span class="select-none heading-h5">Put on Timed Sale</span>
                                            </label>
                                        </div>
                                        <p class="desc body-m">
                                            NFT will be on timed sale. You can pick the date & time of the sale.
                                        </p>
                                        <div class="col-sm-8 ">
                                            <div class="row date-time-picker">
                                                <div class="col-md-12 date-time-title"><span>Starting Date &
                                                        Time</span>
                                                </div>


                                                <!-- starting date starts -->
                                                <div class="col-md-12 pick-otr pick-date">
                                                    <label for="date_picker">Date: </label>

                                                    <div class="dropdown pick-date-dropdown">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                            id="dropdownMenuButton2" data-bs-toggle="dropdown"
                                                            aria-expanded="true">
                                                            Select Date
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                            <li><a class="dropdown-item"
                                                                    id="afterListing-auction-create-nft">Right
                                                                    After Listing</a></li>
                                                            <li><a class="dropdown-item"
                                                                    id="specific-auction-crate-nft">Pick
                                                                    Specific Date</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="startPicker"></div>
                                                </div>




                                                <div class="col-md-12 date-time-title"><span>Expiration Date &
                                                        Time</span>
                                                </div>

                                                <!----- Expiration date starts ----->
                                                <div class="col-md-12 pick-otr pick-date">
                                                    <label for="date_picker">Date: </label>

                                                    <div class="dropdown pick-expiration-date-dropdown">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                            id="dropdownMenuButton3" data-bs-toggle="dropdown"
                                                            aria-expanded="true">
                                                            Select Date
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                                            <li><a class="dropdown-item">1 Day from Listing</a></li>
                                                            <li><a class="dropdown-item">3 Days from Listing</a>
                                                            </li>
                                                            <li><a class="dropdown-item">5 Days from Listing</a>
                                                            </li>
                                                            <li><a class="dropdown-item"
                                                                    id="specificEnd-auction-crate-nft">Pick
                                                                    Specific Date</a></li>

                                                        </ul>
                                                    </div>
                                                    <div class="endPicker"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="check">
                                            <label>
                                                <span class="check-inner">
                                                    <input type="radio" id="Fixed Sale"
                                                        class="input-check opacity-0 absolute" name="choose"
                                                        value="Fixed Sale" />
                                                    <svg class="fill-current" width="16" height="16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <circle cx="8" cy="8" r="8" fill="#E42575" />
                                                    </svg>
                                                </span>
                                                <span class="select-none heading-h5">Put on Sale</span>
                                            </label>
                                        </div>
                                        <p class="desc body-m">
                                            Enter a price for which your item will be sold
                                            instantly.
                                        </p>
                                        <div class="check">
                                            <label class="">
                                                <span class="check-inner unlock">
                                                    <input type="radio" id="On Hold"
                                                        class="input-check opacity-0 absolute" name="choose"
                                                        value="On Hold" checked="true" />
                                                    <svg class="fill-current" width="16" height="16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <circle cx="8" cy="8" r="8" fill="#E42575" />
                                                    </svg>
                                                </span>
                                                <span class="select-none heading-h5">Put on Hold</span>
                                            </label>
                                        </div>
                                        <p class="desc-2 body-m">
                                            NFT will be minted but not put for auction or
                                            sale.
                                        </p>
                                        <div class="row row-custom-inr justify-content-center">
                                            <div class="col-lg-6 col-md-3 col-sm-6 col-btn-otr">
                                                <div class="col-btn-inr">
                                                    <button id="btn-submit" cursor="pointer" class="btn-fill btn-create"
                                                        style="width: 400px">
                                                        Create Artwork
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <!--**********************************
            Content body end
        ***********************************-->

                <!--**********************************
            Footer start
        ***********************************-->

                <%- include('footer'); -%>

                    <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script>
        const uploadArea = document.querySelector('#uploadArea');
        const dropZoon = document.querySelector('#dropZoon');
        const loadingText = document.querySelector('#loadingText');
        const fileInput = document.querySelector('#fileInput');
        const previewImage = document.querySelector('#previewImage');
        const fileDetails = document.querySelector('#fileDetails');
        const uploadedFile = document.querySelector('#uploadedFile');
        const uploadedFileInfo =
            document.querySelector('#uploadedFileInfo');
        const uploadedFileName = document.querySelector(
            '#uploadArea .uploaded-file__name'
        );
        const uploadedFileIconText = document.querySelector(
            '#uploadArea .uploaded-file__icon-text'
        );
        const uploadedFileCounter = document.querySelector(
            '#uploadArea .uploaded-file__counter'
        );
        const toolTipData = document.querySelector(
            '#uploadArea .upload-area__tooltip-data'
        );
        const imagesTypes = ['jpeg', 'webp', 'png', 'svg', 'gif'];

        toolTipData.innerHTML = [...imagesTypes].join(', .');

        dropZoon.addEventListener('dragover', function (event) {
            event.preventDefault();
            dropZoon.classList.add('drop-zoon--over');
        });

        dropZoon.addEventListener('dragleave', function (event) {
            dropZoon.classList.remove('drop-zoon--over');
        });

        dropZoon.addEventListener('drop', function (event) {
            event.preventDefault();

            dropZoon.classList.remove('drop-zoon--over');
            const file = event.dataTransfer.files[0];

            uploadFile(file);
        });

        dropZoon.addEventListener('click', function (event) {
            fileInput.click();
        });

        fileInput.addEventListener('change', function (event) {
            const file = event.target.files[0];
            uploadFile(file);
        });

        function uploadFile(file) {
            const fileReader = new FileReader();
            const fileType = file.type;
            const fileSize = file.size;

            if (fileValidate(fileType, fileSize)) {
                dropZoon.classList.add('drop-zoon--Uploaded');

                loadingText.style.display = 'block';
                previewImage.style.display = 'none';
                uploadedFile.classList.remove('uploaded-file--open');
                uploadedFileInfo.classList.remove(
                    'uploaded-file__info--active'
                );

                fileReader.addEventListener('load', function () {
                    setTimeout(function () {
                        uploadArea.classList.add('upload-area--open');
                        loadingText.style.display = 'none';
                        previewImage.style.display = 'block';

                        fileDetails.classList.add('file-details--open');
                        uploadedFile.classList.add('uploaded-file--open');
                        uploadedFileInfo.classList.add(
                            'uploaded-file__info--active'
                        );
                    }, 500);

                    previewImage.setAttribute('src', fileReader.result);
                    uploadedFileName.innerHTML = file.name;
                    progressMove();
                });

                fileReader.readAsDataURL(file);
            } else {
                this;
            }
        }

        function progressMove() {
            let counter = 0;
            setTimeout(() => {
                let counterIncrease = setInterval(() => {
                    if (counter === 100) {
                        clearInterval(counterIncrease);
                    } else {
                        counter = counter + 10;
                        uploadedFileCounter.innerHTML = `${counter}%`;
                    }
                }, 100);
            }, 600);
        }

        function fileValidate(fileType, fileSize) {
            let isImage = imagesTypes.filter(
                (type) => fileType.indexOf(`image/${type}`) !== -1
            );
            if (isImage[0] === 'jpeg') {
                uploadedFileIconText.innerHTML = 'jpg';
            } else {
                uploadedFileIconText.innerHTML = isImage[0];
            }

            if (isImage.length !== 0) {
                if (fileSize <= 15 * 1024 * 1024) {
                    return true;
                } else {
                    return notify(
                        'error',
                        'Please Your File Should be 15 Megabytes or Less'
                    );
                }
            } else {
                return notify(
                    'error',
                    'Please make sure to upload An Image File Type'
                );
            }
        }

        $(document).ready(function () {
            $('#dropZoon').change(function () {
                $('#uploadArea .drop-zoon__icon').addClass('upload-active');
                $('#uploadArea .drop-zoon__paragraph').addClass('upload-active');
            });
        });



                // $('#start-time').timepicker({
                //     timeFormat: 'h:mm p',
                //     interval: 1,
                //     minTime: '12:00am',
                //     maxTime: '12:00pm',
                //     defaultTime: '11',
                //     startTime: '01:00',
                //     dynamic: false,
                //     dropdown: true,
                //     scrollbar: true
                // });
                // $('#end-time').timepicker({
                //     timeFormat: 'h:mm p',
                //     interval: 1,
                //     minTime: '12:00am',
                //     maxTime: '12:00pm',
                //     defaultTime: '11',
                //     startTime: '01:00',
                //     dynamic: false,
                //     dropdown: true,
                //     scrollbar: true
                // });



                // $(".check-inner").click(function () {
                //     if ($(this).hasClass("show-timed-block")) {
                //         $(".timed-block").fadeIn();
                //     } else {
                //         $(".timed-block").fadeOut();
                //     }

                // })



                // var dropdownId = "";
                // $('.select-dropdown__button').on('click', function () {
                //     dropdownId = $(this).parent().attr("id")
                //     $('#' + dropdownId + ' .select-dropdown__list').toggleClass('active');
                // });
                // $('#' + dropdownId + ' .select-dropdown__list-item').on('click', function () {
                //     var itemValue = $(this).data('value');
                //     $('#' + dropdownId + ' .select-dropdown__button span').text($(this).text()).parent().attr('data-value', itemValue);
                //     $('#' + dropdownId + ' .select-dropdown__list').toggleClass('active');
                // });


    </script>
    <script>
        $(document).ready(function () {
            $(".date-time-picker").hide();

            // $("#on-timed-sale").on("change", function(){
            //     console.log($(this).val());
            // });
            $("input[name='choose']").on("click", function () {

                if ($("#on-timed-sale").is(":checked")) {
                    $(".date-time-picker").fadeIn();
                } else {
                    $(".date-time-picker").fadeOut();
                }
            });
        })
    </script>

    <!-- create nft new date time picker -->
    <script src="/assets/js/simplepicker.js"></script>

    <script>

        $(document).ready(function () {
            let startPicker = new SimplePicker(".startPicker");
            console.log({ startPicker })
            $("#pick-time-modal").hide();
            $("#pick-date-modal").hide();
            $(".pick-starting-time-column").hide();
            $(".pick-expiration-time-column").hide();
            $("#pick-expiration-date-modal").hide();

            // =======Starting date=======
            $(".pick-date-dropdown #dropdownMenuButton2").on("click", function (e) {
                $(".pick-date-dropdown .dropdown-menu").slideToggle();
                e.stopPropagation();
            })
            $(document).click(function () {
                $(".pick-date-dropdown .dropdown-menu").slideUp();
            });
            $(".pick-date-dropdown .dropdown-item").on("click", function () {
                if ($(this).attr("id") === "afterListing-auction-create-nft") {
                    var txt = $(this).text().trim();
                    $(".pick-date-dropdown #dropdownMenuButton2").html(txt).val('after-listening');
                    $(".pick-date-dropdown #dropdownMenuButton2").css("color", "#fff");
                    $(".pick-starting-time-column").hide();

                } else if ($(this).attr("id") == "specific-auction-crate-nft") {
                    var txt = $(this).text().trim();

                    $(".pick-date-dropdown #dropdownMenuButton2").html(txt).val('Specific-time');
                    $(".pick-date-dropdown #dropdownMenuButton2").css("color", "#fff");
                    startPicker.open();

                    $("body").css("overflow", "hidden");
                }
                else {
                    $(".pick-date-dropdown #dropdownMenuButton2").html("Select Date").val();

                }
                startPicker.on('submit', (date, readableDate) => {
                    $(".pick-date-dropdown #dropdownMenuButton2").html(readableDate).val(readableDate);
                    $("body").css("overflow", "hidden auto");
                });


                $(".pick-date-dropdown .dropdown-menu").slideUp();
            })





            // =======expiration date=======
            let endPicker = new SimplePicker(".endPicker");

            $(".pick-expiration-date-dropdown #dropdownMenuButton3").on("click", function (e) {
                $(".pick-expiration-date-dropdown .dropdown-menu").slideToggle();
                e.stopPropagation();
            })
            $(document).click(function () {
                $(".pick-expiration-date-dropdown .dropdown-menu").slideUp();
            });
            $(".pick-expiration-date-dropdown .dropdown-item").on("click", function () {
                if ($(this).attr("id") === "specificEnd-auction-crate-nft") {
                    var txt = $(this).text().trim();
                    $(".pick-expiration-date-dropdown #dropdownMenuButton3").html(txt).val('txt');
                    $(".pick-expiration-date-dropdown #dropdownMenuButton3").css("color", "#fff");
                    endPicker.open();

                    $("body").css("overflow", "hidden");

                } else {
                    var txt = $(this).text().trim();
                    $(".pick-expiration-date-dropdown #dropdownMenuButton3").html(txt);
                    $(".pick-expiration-date-dropdown #dropdownMenuButton3").val(txt);
                    $(".pick-expiration-date-dropdown #dropdownMenuButton3").css("color", "#fff");
                    $(".pick-expiration-time-column").hide();


                }
                endPicker.on('submit', (date, readableDate) => {
                    $(".pick-expiration-date-dropdown #dropdownMenuButton3").html(readableDate).val(readableDate);
                    $("body").css("overflow", "hidden auto");
                });

                $(".pick-expiration-date-dropdown .dropdown-menu").slideUp();

            })

        })
    </script>

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->

    <!-- <script src="/admin/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script> -->
    <script src="/admin/js/custom.min.js"></script>
    <script src="/admin/js/deznav-init.js"></script>
    <script src="/admin/assets/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="/admin/assets/vendor/peity/jquery.peity.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- create nft new date time picker -->
    <script src="/assets/js/simplepicker.js"></script>

    <script src="/assets/js/app.js"></script>
    <script src="/admin/js/create-nft.js"></script>
    <script src="/admin/js/create-collection.js"></script>

</body>

<!-- xhtml/index.html08:18:50 -->

</html>