<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Forgot Password | NFT Talent</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/assets/img/favicon/favicon.ico" />
    <!-- Toastr -->
    <link href="../admin/css/admin-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/libs/notyf/css/notyf.min.css" />
</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <div class="text-center mb-3">
                                        <img src="/assets/img/logo.svg" alt="logo" width="200">
                                    </div>
                                    <h4 class="text-center mb-4">
                                        Forgot Password
                                    </h4>
                                    <form class="form-valide-with-icon">
                                        <div class="form-group">
                                            <label class="text-label">Email</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" id="email" name="email"
                                                    placeholder="Enter a Email.." />
                                                <div id="email-error" class="invalid-feedback animated fadeInUp"></div>
                                            </div>
                                        </div>
                                        <div class="text-center mt-4">
                                            <button type="button" id="forgot" class="btn btn-primary btn-block">
                                                SUBMIT
                                            </button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p>
                                            Back To
                                            <a class="text-primary" href="signin">Home
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <!-- <script src="../assets/vendor/global/global.min.js"></script> -->
    <script>
        const ___ENV___ = '<%= NODE_ENV %>';
        console.log(___ENV___);
    </script>

    <script src="../admin/assets/vendor/global/global.min.js"></script>
    <!-- <script src="../assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
            
        -->
    <script src="/assets/libs/notyf/js/notyf.min.js"></script>

    <script src="../admin/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- wallet connect cdn -->
    <script src="https://cdn.jsdelivr.net/npm/@walletconnect/web3-provider@1.8.0/dist/umd/index.min.js"></script>

    <script src="/assets/js/web3.min.js"></script>

    <!-- <script src="../Admin/js/forgotPassword.js"></script> -->

    <!-- platform config  -->
    <script src="/assets/js/config.platform.js"></script>
    <script src="/assets/js/service.web3.js"></script>


    <!-- helper Functions  -->
    <script src="/assets/js/helper.js"></script>

    <!-- Validator Functions  -->
    <script src="/assets/js/validator.js"></script>

    <!-- global variables  -->
    <script src="/assets/js/global.js"></script>

    <!-- common Functions  -->
    <script src="/assets/js/common.js"></script>

    <script src="../admin/js/forgotPassword.js"></script>

    <!-- Toastr -->
    <!-- <script src="../assets/vendor/toastr/js/toastr.min.js"></script> -->
</body>

</html>