<!--**********************************
            Sidebar start
***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/a/dashboard">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/a/users">
                    <i class="flaticon-381-user-8"></i>
                    <span class="nav-text">Users</span>
                </a>
            </li>
            <li>
                <a href="/a/nfts">
                    <i class="flaticon-381-file-1"></i>
                    <span class="nav-text">NFTs</span>
                </a>
            </li>
            <li>
                <a href="/a/transactions">
                    <i class="flaticon-381-file-1"></i>
                    <span class="nav-text">Transactions</span>
                </a>
            </li>
            <li>
                <a href="/a/commission">
                    <i class="flaticon-381-percentage"></i>
                    <span class="nav-text">Manage Commission</span>
                </a>
            </li>
            <li>
                <a href="categories">
                    <i class="flaticon-381-file-1"></i>
                    <span class="nav-text">Categories</span>
                </a>
            </li>
            <li>
                <a href="/a/collection">
                    <i class="flaticon-381-file-1"></i>
                    <span class="nav-text">Collection</span>
                </a>
            </li>
            <li>
                <a href="/a/collectionManagememnt">
                    <i class="flaticon-381-file-1"></i>
                    <span class="nav-text">Pending Collection</span>
                </a>
            </li>
            <li>
                <a href="/a/createNft">
                    <i class="flaticon-381-file-1"></i>
                    <span class="nav-text">Create NFT</span>
                </a>
            </li>
            <li>
                <a href="/a/admin-collection">
                    <i class="flaticon-381-file-1"></i>
                    <span class="nav-text">Admin Collection</span>
                </a>
            </li>
            <li>
                <a href="/a/explore-artworks">
                    <i class="flaticon-381-file-1"></i>
                    <span class="nav-text">Explore Artworks</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--**********************************
            Sidebar end
***********************************-->