<!DOCTYPE html>
<html lang="en">

<head>
    <title>About | NFT Talent</title>
    <%- include('css-lib.ejs') %>
</head>

<body>
    <div class="loader">
        <div class="loader-img">
            <img src="/assets/img/loader-logo.png" alt="Loading">
        </div>
    </div>


    <!--=======================================
            Modal Start Here
    ========================================-->

    <%- include('sidebar.ejs') %>

        <!--=======================================
                Modal End Here
    ========================================-->

        <!--=======================================
                Navbar Start Here
    ========================================-->

        <div class="main-hero">
            <div class="hero-main-inr"><%- include('navbar.ejs') %></div>
        </div>

        <!--=======================================
                Navbar End Here
    ========================================-->

        <!-- TODO: Body goes here -->

        <div class="live-acution-home2">
            <div class="container-fluid">
                <div class="live-auction-inr">
                    <div class="heading-otr">
                        <div class="head-otr">
                            <h3 class="heading heading-h3">About Us</h3>
                        </div>
                    </div>
                    <span class="line"></span>


                </div>
                <div>
                    <p class="about-para">
                        Lorem ipsum dolor sit amet. Aut fugit modi eum quia dignissimos qui ipsa velit rem suscipit
                        doloremque. Qui fugit tempora sed cumque sunt 33 architecto corporis sed sint natus et porro
                        harum 33 quam deleniti ut neque quis. Cum quasi quia quo odit obcaecati et maiores error.
                    </p>
                </div>
            </div>
        </div>
        </div>

        <!-- =======================================
            Footer & Copyright Section Start Here
        ========================================-->

        <%- include('footer.ejs') %>

            <!--=======================================
            Footer & Copyright Section End Here
        ========================================-->

</body>

</html>