<!DOCTYPE html>
<html lang="en">

<head>
    <title>Careers | NFT Talent</title>
    <%- include('css-lib.ejs') %>
</head>

<body>
    <div class="loader">
        <div class="loader-img">
            <img src="/assets/img/loader-logo.png" alt="Loading">
        </div>
    </div>

    <!--=======================================
            Modal Start Here
    ========================================-->

    <%- include('sidebar.ejs') %>

        <!--=======================================
                Modal End Here
    ========================================-->

        <!--=======================================
                Navbar Start Here
    ========================================-->

        <div class="main-hero">
            <div class="hero-main-inr">
                <%- include('navbar.ejs') %>
            </div>
        </div>

        <!--=======================================
                Navbar End Here
    ========================================-->

        <!-- TODO: Body goes here -->

        <div class="live-acution-home2">
            <div class="container-fluid">
                <div class="live-auction-inr">
                    <div class="heading-otr">
                        <div class="head-otr">
                            <h3 class="heading heading-h3">Careers</h3>
                        </div>
                    </div>
                    <span class="line"></span>
                </div>
                <div>
                    <p class="about-para">
                        Build a Future with NFT TALENT <br><br>
                        We want to be the global destination for discovering, expressing, and owning digital culture.
                        Because our policy is to
                        ship first and constantly improve, working at NFT TALENT is an excellent opportunity to grow and
                        learn. <br><br>
                        To foster innovation and drive success, we firmly believe it is crucial to have a diverse
                        workforce and an inclusive
                        culture. Therefore At all levels of our organization, we strive to promote diversity, equity,
                        and inclusion. There is
                        great pride in our commitment to creating a workplace where every employee can feel valued and
                        realize their full
                        potential. <br><br>
                        We have a wide variety of opportunities for you, regardless of your career stage.
                        Join our talent network. <br><br>
                        Current job opportunities: <br><br>
                    <div class="about-para terms-main-content">
                        <h4>Open roles: </h4>
                        <b>
                            Blockchain Engineer Intern, CBDC
                        </b><br>
                        Minimum requirements: <br>
                        <ul class="privacy-ul">
                            <li>currently enrolled in an undergraduate or graduate computer science program</li>
                            <li>proficient in at least one common programming language such as java, python, javascript,
                                rust, c++, etc</li>
                            <li>driven individual with a track record of participating in hackathons and/or software
                                development projects</li>
                            <li>understanding of the technology and structure of stablecoins and/or cbdcs</li>
                            <li>technical knowledge of crypto currencies</li>
                            <li>experience or exposure working with blockchain solutions</li>
                        </ul>
                        <b>Senior Software Engineer</b><br>
                        Minimum requirements: <br>
                        <ul class="privacy-ul">
                            <li>Bachelor’s degree in Computer Science, or a related field and plus five (5) years of
                                post-baccalaureate progressive
                                Software Development experience on large scale distributed systems; or a Master’s degree
                                in Computer Science, or a
                                related field plus three (3) years Software Development experience on large scale
                                distributed systems.</li>
                            <li>Java</li>
                            <li>Go</li>
                            <li>Python</li>
                            <li>Software testing and deployment</li>
                            <li>Building transactional systems (in finance, banking, or e-commerce domains) backed by an
                                RDBMS (PostgreSQL, Oracle or MS
                                SQL Server),</li>
                            <li>Agile development of distributed services, with a focus on robust software design,
                                scalability and security.</li>
                        </ul>
                        <b>Product Security Engineer</b><br>
                        Minimum requirements: <br>
                        <ul class="privacy-ul">
                            <li>5 years of experience in Information Security
                            </li>
                            <li>Experience with the application of threat modeling and other risk identification
                                techniques
                            </li>
                            <li>Strong understanding of the OWASP top 10, including details of common vulnerabilities
                            </li>
                            <li>Experience with authentication and authorization standards including OAuth and SAML and
                                their weaknesses.
                            </li>
                            <li>Detailed knowledge of system security vulnerabilities and remediation techniques,
                                including penetration testing and the
                                development of exploits
                            </li>
                            <li>Experience with Amazon Web Services and Google Cloud Platform
                            </li>
                            <li>Advanced level coding skills (Java is a plus)
                            </li>
                        </ul>
                        <b>Product Design Intern, Design Systems</b><br>
                        <ul class="privacy-ul">
                            <li>Portfolio of work featuring strong product, brand, interactive and typographic designs
                            </li>
                            <li>projects simultaneously.
                            </li>
                            <li>Knowledge of typography and grid systems
                            </li>
                            <li>Proficient in Figma
                            </li>
                            <li>1-2 years of work experience or previous internship experience a plus
                            </li>
                        </ul>
                        <b>Product manager and Digital Marketer
                        </b><br>
                        <ul class="privacy-ul">
                            <li>Bachelor’s degree or foreign equivalent in Business, Marketing or a related field and 4
                                years of experience in digital
                                marketing, email marketing, or demand generation at a B2B company. In lieu of a degree,
                                will accept an additional 2
                                years of experience in digital marketing, email marketing, or demand generation at a B2B
                                company.
                            </li>
                            <li>4 years of experience leveraging LinkedIn campaign manager, Google AdWords, Facebook
                                ads, or equivalent advertising
                                platforms, including analyzing and utilizing collected data on user preferences and
                                needs.
                            </li>
                            <li>3 years of experience with email marketing and demand generation using Google Analytics,
                                Salesforce, Market, or
                                equivalent marketing operations/reporting software.
                            </li>
                            <li>1 year of experience measuring performance and ROI across channels, presenting findings
                                to cross-functional teams,
                                including sales, customer success, and operations.
                            </li>
                        </ul>
                        <b>Product Marketing
                        </b><br>
                        <ul class="privacy-ul">
                            <li>Currently pursuing an MBA or related degree
                            </li>
                            <li>Passionate about blockchain technology, developers, and the move to a decentralized
                                world
                            </li>
                            <li>Experience in strategy consulting, digital marketing, product marketing, business
                                development, strategic partnerships,
                                or equivalent function
                            </li>
                            <li>Experience in cross-functional leadership within a dynamic, rapidly changing environment
                            </li>
                            <li>Experience working closely with product management and/or engineering to represent
                                market requirements and with sales to
                                support product launches
                            </li>
                            <li>Experience with conducting research and presenting thoughtful analysis with clear
                                recommendations
                            </li>
                            <li>Blockchain experience is a plus
                            </li>
                        </ul>
                        <b>Accounting Manager
                        </b><br>
                        <ul class="privacy-ul">
                            <li>Bachelor’s Degree (Degree in Accounting/Finance is preferred)
                            </li>
                            <li>Minimum of 6+ years in the field of Accounting or equivalent (public accounting
                                experience is a plus)
                            </li>
                            <li>Qualified Accountant preferred (CA, CPA or similar)
                            </li>
                            <li>Strong Excel skills
                            </li>
                            <li>Familiarity with enterprise accounting systems (Intacct and/or mid-tier accounting
                                systems is a plus)
                            </li>
                            <li>Excellent time and project management skills and able to operate in a fast paced
                                environment
                            </li>
                            <li>Ability to work independently through complex tasks, drive initiatives with
                                cross-functional teams and present solutions
                            </li>
                            <li>Detail oriented with strong analytical skills and self-driven initiative
                            </li>
                            <li>Strong written and verbal communication skills
                            </li>
                            <li>Experience with the cross border payments/ fintech/ crypto/ blockchain industry will be
                                a plus</li>
                        </ul>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        </div>

        <!-- =======================================
            Footer & Copyright Section Start Here
        ========================================-->

        <%- include('footer.ejs') %>

            <!--=======================================
            Footer & Copyright Section End Here
        ========================================-->

</body>

</html>