<!DOCTYPE html>
<html lang="en">

<head>
    <title>FAQs | NFT Talent</title>
    <%- include('css-lib.ejs') %>
</head>

<body>
    <div class="loader">
        <div class="loader-img">
            <img src="/assets/img/loader-logo.png" alt="Loading">
        </div>
    </div>

    <!--=======================================
            Modal Start Here
    ========================================-->

    <%- include('sidebar.ejs') %>

        <!--=======================================
                Modal End Here
    ========================================-->

        <!--=======================================
                Navbar Start Here
    ========================================-->

        <div class="main-hero">
            <div class="hero-main-inr">
                <%- include('navbar.ejs') %>
            </div>
        </div>

        <!--=======================================
                Navbar End Here
    ========================================-->

        <!-- TODO: Body goes here -->

        <!-- <h2 class="faq-title">FAQ</h2>  -->
        <div class="container accordions-container faq-acc-otr">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">

                    <h2 class="accordion-header" id="heading-1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                            NFTs: what are they?
                        </button>
                    </h2>
                    <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="heading-1"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="faq-desc">
                                The term NFT refers to a “non-fungible token”. Simply put, it is a unique digital asset.
                                In the case of an NFT, you can
                                either store it as a long-term investment or use it to express your love for art.
                                Additionally, you can sell it and make
                                a profit. As long as they are honored by the trader, NFTs allow artists and creators to
                                obtain creator royalties. Games,
                                music, real estate, and many other fields are exploring the potential of NFTs!
                                As one of the primary uses of NFTs, it enables artists to establish proof of ownership
                                for digital art. <br><br>
                                <span style="color:red;">Warning </span>:
                                It is unsurprising that NFTs are fun, but you should know that their value can fluctuate
                                wildly. Therefore, make sure
                                you do your own research before buying any NFTs.
                                How does proof of ownership work?
                                Blockchains make it possible to track NFT ownership. You would not be able to dispute
                                your claim of ownership of an NFT
                                if you owned one; the whole world would know your wallet address owned it. For example,
                                Google Images makes it possible
                                for anyone to download an image of the Mona Lisa. However, not everyone holds an
                                ownership certificate. The strength of
                                digital ownership lies in this fact.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
                            NFT TALENT accepts what currencies?
                        </button>
                    </h2>
                    <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body ">
                            <p class="faq-desc">
                                Polygon (MATIC), Ethereum (ETH), Binance Coin (BNB) and Avalanche (AVAX) <br>
                                The connection and use of NFT TALENT require either Matic, ETH, BNB and AVAX wallet like
                                Metamask, Trust wallet and ICB
                                wallet. With some collections, you can also pay through your credit card or bank account
                                when using Cross mint.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                            NFT TALENT is compatible with which blockchains?
                        </button>
                    </h2>
                    <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="faq-desc">
                                At the moment, NFT TALENT supports aggregate listings on the Ethereum (ETH) blockchain,
                                Polygon (MATIC), Binance Smart
                                chain (BNB BSC) and Avalanche (AVAX) blockchains.<br><br>
                                You can do the following on NFT TALENT :<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- The purchase of NFTs and SFTs<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Selling/listing NFTs and SFTs<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- NFT auctions<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- make offers on NFTs that have been listed or
                                unlisted<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Place a bid on NFT auctions<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Mint NFTs<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Become a creator of new NFT/SFT collections<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Launch new NFT/SFT collections as a creator<br><br>
                                You can do the following with Ethereum on NFT TALENT:<br>
                                Buy NFTs<br><br>
                                We will have more to share in the future!

                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">
                            Is it possible to connect more than one wallet to my profile?
                        </button>
                    </h2>
                    <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="heading-4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="faq-desc">
                                NFT TALENT users can link multiple wallets to their profile starting in January 2023. By
                                doing so, all your activities
                                across numerous wallets will be credited to the points determining your rewards
                                tier.<br>
                                Setting up your main profile<br>
                                Your profile will be hosted by the wallet you choose.<br>
                                Once you've chosen your wallet, connect it to the site.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-5" aria-expanded="true" aria-controls="collapse-5">
                            I can't connect my wallet, What should I do?
                        </button>
                    </h2>
                    <div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="heading-5"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="faq-desc">
                                Occasionally, your wallet might not be communicating properly with your web browser and
                                must be reset.<br><br>
                                The following steps may help :<br><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- It is important to keep your browser and wallet
                                up-to-date.<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Reopen your browser after clearing the cache, then close
                                and reopen the program.
                                Use Chrome on your desktop or laptop.<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Ensure that no security software, ad blockers, or other
                                extensions are interfering.<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Feel free to reach out to our Customer Support Team if
                                these steps did not work for you
                                or if you still have questions.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-6" aria-expanded="true" aria-controls="collapse-6">
                            Is there a way to acquire Polygon (MATIC), Ethereum (ETH), Binance Coin (BNB) and Avalanche
                            (AVAX)?
                        </button>
                    </h2>
                    <div id="collapse-6" class="accordion-collapse collapse" aria-labelledby="heading-6"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="faq-desc">
                                Most people will use an exchange to get crypto into their wallets. Be sure to DYOR and
                                find the best exchange for your
                                country before using any exchange. Most people will end up using Coinbase or Binance
                                (some exchanges will not work in
                                certain countries). Depending on where you live, these exchanges might be localized
                                versions! <br><br>
                                Binance has both .com and .us domains, which means American residents need to use
                                binance.us, while the rest of the
                                world needs to use binance.com.<br><br>
                                The domain name of Coinbase is .com only.<br><br>
                                You should DYOR and check whether these exchanges are available in your country. As
                                these are third-party services, we
                                cannot guarantee the quality of their services. Using these websites is at your own
                                risk!<br><br>
                                A bank transfer or credit card can be used to fund your exchange account once you have
                                established your account. Then
                                you can purchase crypto using cash using a conversion function and start using NFT
                                Talent.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-7">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-7" aria-expanded="true" aria-controls="collapse-7">
                            Is it necessary to verify my wallet?
                        </button>
                    </h2>
                    <div id="collapse-7" class="accordion-collapse collapse" aria-labelledby="heading-7"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="faq-desc">
                                We have recently added new features based on how active a user is. We realized that to
                                make these features work
                                correctly; we need a strong user identity.<br><br>
                                Verifying your wallet's ownership is the first step in enabling some of the new
                                features. Previously, we've had you
                                verify your wallet by completing a few steps, but now we've simplified this process so
                                that you only have to do one
                                thing.<br><br>
                                When you connect your wallet, you will experience a simplified process. To start using
                                your wallet, you need to connect
                                it to your profile.<br><br>
                                You need to connect your wallet to get money. To finish setting up your account, you'll
                                need to verify your wallet and
                                toggle if you're using a Ledger or not. To complete this process, you'll need to click
                                'Approve' on the 'Signature
                                Request' pop-up on your wallet. Doing this will confirm that the wallet belongs to you
                                and complete the process.<br><br>
                                To add your wallet to your profile, click the "Link Wallet" button. Click the "Verify
                                new wallet" button to create a new
                                profile. If you have multiple profiles, you can share your points between them by
                                linking your wallets to the same
                                profile.<br><br>
                                If you made an error:<br><br>
                                To start, you need to go to your Wallet Management Page. This page lets you disconnect
                                your wallet from the site and
                                activate your main wallet in your wallet app. Then, you can connect it to the site.
                                After that, you can check to see if
                                all your wallets are on the list. If you need to add a wallet to the list, set that
                                wallet as active in your wallet app.
                                Finally, you can press the "Link Wallet" button to link your wallet to the same profile.
                                You can now find information in
                                your Rewards Hub, including discounts for being active, being eligible for rewards, and
                                more!

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- =======================================
            Footer & Copyright Section Start Here
        ========================================-->

        <%- include('footer.ejs') %>

            <!--=======================================
            Footer & Copyright Section End Here
        ========================================-->

</body>

</html>