<!DOCTYPE html>
<html lang="en">

<head>
    <title>Privacy Policy | NFT Talent</title>
    <%- include('css-lib.ejs') %>
</head>

<body>
    <div class="loader">
        <div class="loader-img">
            <img src="/assets/img/loader-logo.png" alt="Loading">
        </div>
    </div>

    <!--=======================================
            Modal Start Here
    ========================================-->

    <%- include('sidebar.ejs') %>

        <!--=======================================
                Modal End Here
    ========================================-->

        <!--=======================================
                Navbar Start Here
    ========================================-->

        <div class="main-hero">
            <div class="hero-main-inr">
                <%- include('navbar.ejs') %>
            </div>
        </div>

        <!--=======================================
                Navbar End Here
    ========================================-->

        <!-- TODO: Body goes here -->

        <div class="live-acution-home2">
            <div class="container-fluid">
                <div class="live-auction-inr">
                    <div class="heading-otr">
                        <div class="head-otr">
                            <h3 class="heading heading-h3">Privacy Policy</h3>
                        </div>
                    </div>
                    <span class="line"></span>


                </div>
                <div>
                    <p class="about-para">
                        <b>
                            PRIVACY NOTICE
                        </b><br>
                        Last Updated February 22, 2023<br>
                        NFT TALENT's Terms and Conditions are displayed as clearly as possible, and we ensure fairness.
                        This privacy notice
                        describes how and why we might collect, store, use, or share your information when you buy our
                        products or use our
                        services, such as when you Visit NFT TALENT's website at <a href="https://www.nfttalent.io"
                            target="_blank" style="display: contents; color: #a197aa">www.nfttalent.io</a> or any
                        website that
                        links to this privacy notice.<br><br>
                        <b>
                            QUESTIONS OR CONCERNS?
                        </b><br>
                        NFT TALENT, Inc. allows our customers to buy and sell art using non-fungible tokens (“NFTs”).
                        This Privacy Policy is
                        designed to help you understand how we collect, use, process, and share your personal
                        information and to help you
                        understand and exercise your privacy rights. Reading this privacy notice will help you
                        understand your privacy rights
                        and choices. If you still have any questions or concerns, don't hesitate to contact us at
                        <a href="mailto: privacy@nfttalent.io"
                            style="display: contents; color: #a197aa">privacy@nfttalent.io.</a><br><br>
                        <b>
                            WHAT INFORMATION DO WE COLLECT?
                        </b><br>
                        The categories of personal information we collect depend on how you interact with us, our
                        Services, and the requirements
                        of applicable law. We collect information that you provide to us, the information we obtain
                        automatically when you use
                        our Services, and information from other sources such as third-party services and organizations,
                        as described below.<br>

                        <b>
                            INFORMATION YOU PROVIDE TO US DIRECTLY
                        </b><br>
                        We may collect the following personal information that you provide to us. <br>
                        <b>
                            DIRECTLY PROVIDED INFORMATION BY YOU
                        </b><br>
                        We may collect the following personal information that you provide to us. <br>
                    </p>

                    <ul class="privacy-ul">
                        <li>
                            <b>
                                Crypto Wallet information
                            </b><br>
                            To use our Services to buy and sell NFTs, you will need to log in with your existing
                            cryptocurrency wallets, such as
                            Trust Wallet, Metamask, ICB wallet. Note that your interactions with these third-party
                            wallet
                            services are subject to
                            each wallet’s respective privacy policy, not this Privacy Policy.<br>
                        </li>
                        <li>
                            <b>
                                Your Purchases/Know Your Customer (“KYC”) information
                            </b><br>
                            If you buy or sell NFTs using our Services, we will record the details of each transaction
                            (such
                            as the owner of the
                            NFTs, any royalties owed, etc.). In addition, in connection with your offer of NFTs on our
                            Services, our service
                            providers or we may also collect information to facilitate the transaction, verify your
                            identity, and comply with our
                            regulatory obligations (sometimes referred to as “Know Your Customer” checks). Such
                            information
                            may include, without
                            limitation: your date of birth, your passport or national ID card, a bank card statement, or
                            other information linking
                            you to an address.
                        </li>
                        <li>
                            <b>
                                Listing application
                            </b><br>
                            To list your NFTs on NFT TALENT, you will be required to provide us with information about
                            your
                            project, including the
                            following information: your project name, whether you were contacted by NFT TALENT in
                            advance,
                            the email address and
                            Discord ID for the main project contact, the Twitter URL and Discord Server invite link
                            associated with the project, the
                            ownership status of the artwork used in the project, the creator/artist name, links to other
                            creator projects
                            (optional), project mint status, Candy Machine ID or other smart contract identifiers,
                            number of
                            items existing or
                            expected in the collection, and associated image files.
                        </li>
                        <li>
                            <b>
                                Launchpad applications.
                            </b><br>
                            Suppose you apply to join our Launchpad program to receive additional minting assistance. In
                            that case, we collect
                            information about your project, including your project name and description (including
                            expected
                            mint date, number of
                            items included in the mint, mint price, the creator’s name, the status of your project
                            artwork,
                            and the Discord ID and
                            email address of the main project contact. You also have the option to add your Twitter,
                            Discord
                            server, Instagram,
                            website, and other links, along with any other information or supplemental materials you
                            decide
                            to share.
                        </li>
                        <li>
                            <b>
                                Your Communications with Us
                            </b><br>
                            We may collect personal information, such as email address, phone number, or mailing
                            address,when you request
                            information about our Services, register for our newsletter or blog, request customer or
                            technical support, apply for a job, or otherwise communicate with us.
                        </li>
                        <li>
                            <b>
                                Surveys
                            </b><br>
                            We may contact you to participate in surveys. If you decide to participate, you may be asked
                            to provide certain information, which may include personal information.
                        </li>
                        <li>
                            <b>
                                Interactive Features
                            </b><br>
                            We and others who use our Services may collect personal information you submit or make
                            available
                            through our interactive
                            features (e.g., messaging and chat features, commenting functionalities, forums, blogs, and
                            social media pages on
                            Twitter, Discord, Medium, and Spotify). Any information you provide using the public sharing
                            features of the Services
                            (referred to herein as “User Content”) will be considered “public,” unless otherwise
                            required by
                            applicable law, and is
                            not subject to the privacy protections referenced herein. Therefore, please exercise caution
                            before revealing any
                            information that may identify you in the real world to other users.
                        </li>
                        <li>
                            <b>
                                Sweepstakes or Contests
                            </b><br>
                            We may collect the personal information you provide for any sweepstakes or contests that we
                            offer. In some
                            jurisdictions, we are required to publicly share information of sweepstakes and contest
                            winners.
                        </li>
                        <li>
                            <b>
                                Conferences, Trade Shows, and Other Events
                            </b><br>
                            We may collect personal information from individuals when we attend or host conferences,
                            trade shows, and other events.
                        </li>
                        <li>
                            <b>
                                Business Development and Strategic Partnerships
                            </b><br>
                            We may collect personal information from individuals and third parties to assess and pursue
                            potential business
                            opportunities.
                        </li>
                        <li>
                            <b>
                                Job Applications
                            </b><br>
                            We may post job openings and opportunities on our Services. If you reply to one of these
                            postings by submitting your
                            application, CV, and/or cover letter to us, we will collect and use this information to
                            assess
                            your qualifications.
                        </li>

                    </ul>
                    <p class="about-para">
                        <b>INFORMATION COLLECTED AUTOMATICALLY
                        </b><br>
                        NFT TALENT may collect personal information automatically when you use its Services: <br>
                    </p>
                    <ul class="privacy-ul">
                        <li>
                            <b>
                                Automatic Data Collection
                            </b><br>
                            We may collect certain information automatically when you use our Services, such as your
                            Internet protocol (IP) address,
                            user settings, MAC address, cookie identifiers, mobile carrier, mobile advertising, and
                            other unique identifiers,
                            browser or device information, location information (including approximate location derived
                            from IP address), and
                            Internet service provider. We may also automatically collect information regarding your use
                            of our Services, such as
                            pages that you visit before, during, and after using our Services, information about the
                            links you click, the types of
                            content you interact with, the frequency and duration of your activities, and other
                            information about how you use our
                            Services. We also track the floor price, volume, and average prices for all NFT collections
                            hosted on our platform over
                            time.
                        </li>
                        <li>
                            <b>
                                Cookies, Pixel Tags/Web Beacons, and Other Technologies
                            </b><br>
                            We, as well as third parties that provide content, advertising, or other functionality on
                            our Services, may use cookies,
                            pixel tags, and other technologies (“Technologies”) to collect information through your use
                            of our Services
                            automatically.
                        </li>
                        <li>
                            <b>
                                Cookies
                            </b><br>
                            Cookies are small text files placed in device browsers that store preferences and facilitate
                            and enhance your
                            experience.
                        </li>
                        <li>
                            <b>
                                Pixel Tags/Web Beacons
                            </b><br>
                            A pixel tag (also known as a web beacon) is a piece of code embedded in our Services that
                            collects information about
                            engagement on our Services. Using a pixel tag allows us to record, for example, that a user
                            has visited a particular web
                            page or clicked on a specific advertisement. We may also include web beacons in e-mails to
                            understand whether messages
                            have been opened, acted on, or forwarded.
                        </li>
                    </ul><br>
                    <p class="about-para">
                        Our uses of these Technologies fall into the following general categories: <br>
                    </p>
                    <ul class="privacy-ul">
                        <li>
                            <b>
                                Operationally Necessary
                            </b><br>
                            This includes Technologies that allow you access to our Services, applications, and tools
                            that are required to identify
                            irregular website behavior, prevent fraudulent activity, improve security, or allow you to
                            make use of our
                            functionality;
                        </li>
                        <li>
                            <b>
                                Performance-Related
                            </b><br>
                            We may use Technologies to assess the performance of our Services, including as part of our
                            analytic practices to help
                            us understand how individuals use our Services (see Analytics below);
                        </li>
                        <li>
                            <b>
                                Functionality-Related
                            </b><br>
                            We may use Technologies that allow us to offer you enhanced functionality when accessing or
                            using our Services. This may
                            include identifying you when you sign into our Services or keeping track of your specified
                            preferences, interests, or
                            past items viewed;
                            Advertising- or Targeting-Related. We may use first-party or third-party Technologies to
                            deliver content, including ads
                            relevant to your interests, on our Services or third-party websites.
                        </li>
                        <li>
                            <b>
                                Analytics
                            </b><br>
                            We may use Technologies and other third-party tools to process analytics information on our
                            Services. Some of our
                            analytics partners include Google Analytics. In addition, we use analytics services provided
                            by Google Inc. This allows
                            us to process usage data to understand better how our website and web-related Services are
                            used. This enables us to
                            continually improve our website, making it relevant to your interests and needs. This may
                            involve personal data, such as
                            cookies and other device identifiers. The data collected by Google Analytics is usually
                            transferred to a Google server
                            in the USA and processed there. In addition, Google uses your data for its own purposes,
                            e.g., for profiling or linking
                            it to other data. For more information, please visit Google Analytics Privacy Policy.
                        </li>
                        <li>
                            <b>
                                Social Media Platforms
                            </b><br>
                            Our Services may contain social media buttons, such as Twitter, Discord, Medium, and
                            Spotify, which might include
                            widgets such as the "share this" button or other interactive mini-programs). These features
                            may collect your IP address
                            and which page you are visiting on our Services and may set a cookie to enable the feature
                            to function properly. Your
                            interactions with these platforms are governed by the privacy policy of the company
                            providing them.
                        </li>
                    </ul>
                    <p class="about-para">
                        <b>
                            INFORMATION COLLECTED FROM OTHER SOURCES
                        </b><br>
                        We may obtain information about you from other sources, including through third-party services
                        and organizations. For
                        example, suppose you access our Services through a third-party application, such as an app
                        store, a third-party login
                        service, or a social networking site. In that case, we may collect information about you from
                        that third-party
                        application you have made available via your privacy settings.
                    </p>
                    <ul class="privacy-ul">
                        <li>
                            <b>
                                Referrals and Sharing Features
                            </b>
                        </li>
                        Our Services may offer various tools and functionalities that allow you to provide information
                        about your friends
                        through our referral service; third parties may also use these services to upload information
                        about you. Our referral
                        services may also allow you to forward or share certain content with a friend or colleague, such
                        as an email inviting
                        your friend to use our Services. Please only share with us contact information of people with
                        whom you have a
                        relationship (e.g., relative, friend, neighbor, or co-worker).
                    </ul>

                    <p class="about-para">
                        <b>
                            HOW DO WE PROCESS YOUR INFORMATION?
                        </b><br>
                        We use your information for a variety of business purposes, including to provide our Services,
                        for administrative
                        purposes, and to market our products and Services, as described below. For users in the European
                        Economic Area (“EEA”)
                        and the United Kingdom (“UK”), the legal basis for the collection of this information is to
                        provide you with our
                        Services and make it possible for you to use our Services. <br>
                        <b>
                            PROVIDE OUR SERVICES
                        </b><br>
                        We use your information to fulfill our contract with you and provide you with our Services, such
                        as:
                    </p>
                    <ul class="privacy-ul">
                        <li>
                            Managing your information and accounts;
                        </li>
                        <li>
                            Providing access to certain areas, functionalities, and features of our Services;
                        </li>
                        <li>
                            Answering requests for customer or technical support;
                        </li>
                        <li>
                            Communicating with you about your account, activities on our Services, and policy changes;
                        </li>
                        <li>
                            Processing your financial information and other payment methods for products or Services
                            purchased;
                        </li>
                        <li>
                            Processing applications if you apply for a job we post on our Services; and
                        </li>
                        <li>
                            Allowing you to register for events
                        </li>
                    </ul>
                    <p class="about-para">
                        <b>
                            ADMINISTRATIVE PURPOSES
                        </b><br>
                        We use your information for our legitimate interests, or to comply with our legal obligations,
                        such as: <br>
                    </p>
                    <ul class="privacy-ul">
                        <li>Direct marketing, research and development (including marketing research), network and
                            information security, and fraud
                            prevention;
                        </li>
                        <li>Detecting security incidents, protecting against malicious, deceptive, fraudulent or illegal
                            activity, and prosecuting
                            those responsible for that activity;</li>
                        <li>Measuring interest and engagement in our Services;
                        </li>
                        <li>Short-term, transient use, such as contextual customization of ads;
                        </li>
                        <li>Improving, upgrading, or enhancing our Services;
                        </li>
                        <li>Developing new products and Services;
                        </li>
                        <li>Ensuring internal quality control and safety;
                        </li>
                        <li>Authenticating and verifying individual identities, including requests to exercise your
                            rights under this policy;
                        </li>
                        <li>Debugging to identify and repair errors with our Services;
                        </li>
                        <li>Auditing relating to interactions, transactions, and other compliance activities;</li>
                        <li>Sharing information with third parties as needed to provide the Services;</li>
                        <li>Enforcing our agreements and policies; and
                        </li>
                        <li>Other uses as required to comply with our legal obligations.</li>
                    </ul><br>
                    <p class="about-para">
                        <b>
                            MARKETING AND ADVERTISING OUR PRODUCTS AND SERVICES
                        </b><br>
                        We may use personal information to tailor and provide you with content and advertisements. We
                        may provide you with these
                        materials as permitted by applicable law.
                        Some of the ways we market to you include email campaigns, custom audiences advertising, and
                        “interest-based” or
                        “personalized advertising,” including through cross-device tracking.
                        If you have any questions about our marketing practices, or if you would like to opt out of the
                        use of your personal
                        information for marketing purposes, you may contact us at any time. <br>
                        <b>
                            OTHER PURPOSES
                        </b><br>
                        We also use your information for other purposes as requested by you or as permitted by
                        applicable law. <br>
                    </p>
                    <ul class="privacy-ul">
                        <li>
                            <b>
                                Consent
                            </b>
                            We may use personal information for other purposes that are clearly disclosed to you at the
                            time you provide personal
                            information or with your consent.
                        </li>
                        <li>
                            <b>
                                Automated Decision Making
                            </b>
                            We may engage in automated decision making, including profiling, such as to suggest NFTs for
                            you to buy or creators to
                            follow. NFT TALENT’s processing of your personal information will not result in a decision
                            based solely on automated
                            processing that significantly affects you unless such a decision is necessary as part of a
                            contract we have with you, we
                            have your consent, or we are permitted by law to engage in such automated decision making.
                            If you have questions about
                            our automated decision making, you may contact us.
                        </li>
                        <li>
                            <b>
                                De-identified and Aggregated Information
                            </b>
                            We may use personal information and other information about you to create de-identified
                            and/or aggregated information,
                            such as de-identified demographic information, information about the device from which you
                            access our Services, or other
                            analyses we create. If we create or receive personal data that has been de-identified or
                            aggregated, we will not attempt
                            to reidentify it, except to comply with applicable law.
                        </li>
                        <li>
                            <b>
                                NFT-related Information
                            </b>
                            Notwithstanding anything to the contrary in this Privacy Policy, your personal information,
                            user information, and
                            related electronic wallet address may be shared with and/or sold to third parties, made
                            publicly visible and/or appear
                            as part of any other applicable blockchain network when you engage in NFT sales, activities
                            and/or transactions through
                            the services. The foregoing disclosure may be made for purposes related to facilitating
                            those activities and/or
                            transactions, including without limitation making payments to NFT TALENT. To the fullest
                            extent allowed by law: (a) you
                            assume all risk related to your NFT activities and/or transactions; and (b) NFT TALENT will
                            not be liable to you for any
                            losses or liabilities related to the foregoing use and disclosures.
                        </li>
                    </ul>
                    <p class="about-para">
                        <b>
                            HOW WE DISCLOSE YOUR INFORMATION
                        </b><br>
                        We disclose your information to third parties for a variety of business purposes, including to
                        provide our Services, to
                        protect us or others, or in the event of a major business transaction such as a merger, sale, or
                        asset transfer, as
                        described below. <br>
                        <b>
                            DISCLOSURES TO PROVIDE OUR SERVICES
                        </b><br>
                        The categories of third parties with whom we may share your information are described below.
                        <br>
                    </p>
                    <ul class="privacy-ul">
                        <li>
                            <b>
                                Service Providers
                            </b>
                            We may share your personal information with our third-party service providers who use that
                            information to help us
                            provide our Services. This includes service providers that provide us with IT support,
                            hosting, payment processing,
                            customer service, and related services.

                        </li>
                        <li>
                            <b>
                                Business Partners
                            </b>
                            We may share your personal information with business partners to provide you with a product
                            or service you have
                            requested. We may also share your personal information to business partners with whom we
                            jointly offer products or
                            services.
                        </li>
                        <li>
                            <b>
                                Other Users/Website Visitors
                            </b>
                            As described above in “Personal Information We Collect,” our Services allow you to share
                            your profile, and/or User
                            Content with other users/publicly, including to those who do not use our Services.
                        </li>
                        <li>
                            <b>
                                Advertising Partners
                            </b>
                            We may share your personal information with third-party advertising partners. These
                            third-party advertising partners may
                            set Technologies and other tracking tools on our Services to collect information regarding
                            your activities and your
                            device (e.g., your IP address, cookie identifiers, page(s) visited, location, time of day).
                            These advertising partners
                            may use this information (and similar information collected from other services) for
                            purposes of delivering personalized
                            advertisements to you when you visit digital properties within their networks. This practice
                            is commonly referred to as
                            “interest-based advertising” or “personalized advertising.”
                        </li>
                        <li>
                            <b>
                                APIs/SDKs
                            </b>
                            We may use third-party Application Program Interfaces (“APIs”) and Software Development Kits
                            (“SDKs”) as part of the
                            functionality of our Services. For more information about our use of APIs and SDKs, please
                            contact us.
                        </li>
                    </ul>
                    <p class="about-para">
                        <b>

                            DISCLOSURES TO PROTECT US OR OTHERS
                        </b><br>
                        We may access, preserve, and disclose any information we store associated with you to external
                        parties if we, in good
                        faith, believe doing so is required or appropriate to: comply with law enforcement or national
                        security requests and
                        legal process, such as a court order or subpoena; protect your, our, or others’ rights,
                        property, or safety; enforce our
                        policies or contracts; collect amounts owed to us; or assist with an investigation or
                        prosecution of suspected or actual
                        illegal activity. <br>
                        <b>
                            DISCLOSURE IN THE EVENT OF MERGER, SALE, OR OTHER ASSET TRANSFERS
                        </b><br>
                        If we are involved in a merger, acquisition, financing due diligence, reorganization,
                        bankruptcy, receivership, purchase
                        or sale of assets, or transition of service to another provider, your information may be sold or
                        transferred as part of
                        such a transaction, as permitted by law and/or contract. <br>
                        <b>
                            WHAT ARE YOUR PRIVACY RIGHTS?
                        </b><br>
                        <b>
                            YOUR PRIVACY CHOICES
                        </b><br>
                        The privacy choices you may have about your personal information are determined by applicable
                        law and are described below.
                    </p>
                    <ul class="privacy-ul">
                        <li>
                            <b>
                                Email Communications
                            </b>
                            If you receive an unwanted email from us, you can use the unsubscribe link found at the
                            bottom of the email to opt out
                            of receiving future emails. Note that you will continue to receive transaction-related
                            emails regarding products or
                            Services you have requested. We may also send you certain non-promotional communications
                            regarding us and our Services,
                            and you will not be able to opt out of those communications (e.g., communications regarding
                            our Services or updates to
                            our Terms or this Privacy Policy).
                        </li>
                        <li>
                            <b>
                                “Do Not Track.”
                            </b>
                            Do Not Track (“<b>DNT</b>”) is a privacy preference that users can set in certain web
                            browsers.
                            Please note that we do not
                            respond to or honor DNT signals or similar mechanisms transmitted by web browsers.
                        </li>
                        <li>
                            <b>
                                Cookies and Interest-Based Advertising
                            </b>
                            You may stop or restrict the placement of Technologies on your device or remove them by
                            adjusting your preferences as
                            your browser or device permits. However, if you adjust your preferences, our Services may
                            not work properly.
                            Please note that cookie-based opt-outs are not effective on mobile applications. However,
                            you may opt-out of
                            personalized advertisements on some mobile applications by following the instructions for
                            Android, iOS, and others.
                            The online advertising industry also provides websites from which you may opt out of
                            receiving targeted ads from data
                            partners and other advertising partners that participate in self-regulatory programs. You
                            can access these and learn
                            more about targeted advertising and consumer choice and privacy by visiting the Network
                            Advertising Initiative, the
                            Digital Advertising Alliance, the European Digital Advertising Alliance, and the Digital
                            Advertising Alliance of Canada. <br>
                            Please note you must separately opt out in each browser and on each device.
                        </li>
                    </ul>
                    <p class="about-para">
                        <b>
                            YOUR PRIVACY RIGHTS
                        </b><br>
                        In accordance with applicable law, you may have the right to: <br>
                    </p>
                    <ul class="privacy-ul">
                        <li>
                            <b>
                                Access Personal Information about you, including:
                            </b>
                            (i) confirming whether we are processing
                            your personal information;
                            (ii) obtaining access to or a copy of your personal information;
                        </li>
                        <li>
                            <b>
                                Request Correction
                            </b>
                            of your personal information where it is inaccurate, incomplete or
                            outdated. In some cases, we may
                            provide self-service tools that enable you to update your personal information;
                        </li>
                        <li>
                            <b>
                                Request Deletion,
                            </b>
                            Anonymization or Blocking of your personal information when processing is based on your
                            consent or
                            when processing is unnecessary, excessive or noncompliant;
                        </li>
                        <li>
                            <b>
                                Request Restriction of or Object to
                            </b>
                            our processing of your personal information when
                            processing is noncompliant;
                        </li>
                        <li>
                            <b>
                                Withdraw your Consent
                            </b>
                            to our processing of your personal information. If you refrain
                            from providing personal information
                            or withdraw your consent to processing, some features of our Service may not be
                            available;
                        </li>
                        <li>
                            <b>
                                Request data portability and receive an electronic copy of personal information that you
                                have provided to us;
                            </b>
                        </li>
                        <li>
                            <b>
                                Be informed
                            </b>about third parties with which your personal information has been shared;
                            and
                        </li>
                        <li>
                            <b>
                                Request the review of decisions taken exclusively based on automated processing
                            </b>if these
                            decisions could affect your
                            data subject rights.
                        </li>
                    </ul>
                    <p class="about-para">
                        <b>
                            DO EEA AND UK USERS HAVE SPECIFIC PRIVACY RIGHTS?
                        </b><br>
                        “<b>GDPR</b>” means the European Union General Data Protection Regulation (EU) 2016/679, and the
                        UK
                        version. Information that
                        you provide may be transferred or accessed by entities around the world as described in this
                        Privacy Policy. If you are
                        located outside the United States, you understand that we may transfer personal information to
                        and process it in the
                        United States. If you are located in the EEA or UK, you freely consent to the transfer of
                        personal information outside
                        of the EEA and UK. Your consent to this Privacy Policy together with your submission of personal
                        information constitute
                        your agreement to these transfers. <br>
                    </p>
                    <ul class="privacy-ul">
                        <li>
                            <b>
                                Data Controller
                            </b>
                            For the purposes of this Privacy Policy, NFT TALENT is the Data Controller of your personal
                            information.
                        </li>
                    </ul>
                    <p class="about-para">
                        <b>
                            RIGHTS OF EEA AND UK RESIDENTS
                        </b><br>
                        If you are accessing or using the Services from within the EEA or UK, you may have the following
                        rights under the GDPR
                        (as well as other rights). If you wish to exercise any of these rights, you may do so by
                        contacting us as provided in
                        this Privacy Policy.
                    </p>
                    <ul class="privacy-ul">
                        <li>
                            <b>
                                Right of Access
                            </b>
                            You have the right to obtain confirmation from us as to whether or not we process personal
                            information from you and you
                            also have the right to at any time obtain access to your personal information stored by us.
                        </li>
                        <li>
                            <b>
                                Right to Correction of your Personal Information
                            </b>
                            If we process your personal information, we use reasonable measures to ensure that your
                            personal information is accurate
                            and up-to-date for the purposes for which your personal information was collected. If your
                            personal information is
                            inaccurate or incomplete, you have the right to require us to correct it.
                        </li>
                        <li>
                            <b>
                                Right to Deletion of your Personal Information or Right to Restriction of Processing
                            </b>
                            You may have the right to require us to delete your personal information or to restrict
                            processing of your personal
                            information.
                        </li>
                        <li>
                            <b>
                                Right to Withdraw your Consent
                            </b>
                            If you have given your consent to the processing of your personal information, you have the
                            right to withdraw your
                            consent at any time, without affecting the lawfulness of processing based on the consent
                            before the withdrawal.
                        </li>
                        <li>
                            <b>
                                Right to Data Portability
                            </b>
                            You may have the right to receive the personal information concerning you and which you have
                            provided to us, in a
                            structured, commonly used and machine-readable format or to transmit this data to another
                            controller.
                        </li>
                        <li>
                            <b>
                                Right to Object
                            </b>
                            You may have the right to object to the processing of your personal information as further
                            specified in this Privacy
                            Policy.
                        </li>
                        <li>
                            <b>
                                Right to Lodge a Complaint with Supervisory Authority
                            </b>
                            You have the right to lodge a complaint with a data protection supervisory authority located
                            in the European Union or
                            UK. Further information about how to contact your local data protection authority is
                            available at the website of the
                            European Commission.
                        </li>
                    </ul>
                    <p class="about-para">
                        If you would like to exercise any of these rights, please contact us. We will process such
                        requests in accordance with applicable laws. <br>
                        <b>

                            HOW WE KEEP YOUR INFORMATION SECURE?
                        </b><br>
                        We take steps to ensure that your information is treated securely and in accordance with this
                        Privacy Policy.
                        Unfortunately, no system is 100% secure, and we cannot ensure or warrant the security of any
                        information you provide to
                        us. We have taken appropriate safeguards to require that your personal information will remain
                        protected and take steps
                        to require our third-party service providers and partners to have appropriate safeguards as
                        well. To the fullest extent
                        permitted by applicable law, we do not accept liability for unauthorized disclosure.
                        By using our Services or providing personal information to us, you agree that we may communicate
                        with you electronically
                        regarding security, privacy, and administrative issues relating to your use of our Services. For
                        example, if we learn of
                        a security system breach, we may attempt to notify you electronically by posting a notice on our
                        Services, by mail, or
                        by emailing you. <br>
                        <b>
                            IS YOUR INFORMATION TRANSFERRED INTERNATIONALLY?
                        </b><br>
                        All information processed by us may be transferred, processed, and stored anywhere in the world,
                        including, but not
                        limited to, the United States or other countries, which may have data protection laws that are
                        different from the laws
                        where you live. We endeavor to safeguard your information consistent with the requirements of
                        applicable laws. <br>
                        <b>
                            WHY DO WE RETAIN OF PERSONAL INFORMATION?
                        </b><br>
                        We store the personal information we collect as described in this Privacy Policy for as long as
                        you use our Services, or
                        as necessary to fulfill the purpose(s) for which it was collected, provide our Services, resolve
                        disputes, establish
                        legal defenses, conduct audits, pursue legitimate business purposes, enforce our agreements, and
                        comply with applicable
                        laws. <br>
                        <b>
                            DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?
                        </b><br>
                        In Short: Yes, if you are a resident of California, you are granted specific rights regarding
                        access to your personal
                        information.
                        This Supplemental Notice for California Residents only applies to our processing of personal
                        information that is subject
                        to the California Consumer Privacy Act of 2018 (“CCPA”). The CCPA provides California residents
                        with the right to know
                        what categories of personal information NFT TALENT has collected about them, and whether NFT
                        TALENT disclosed that
                        personal information for a business purpose (e.g., to a service provider) in the preceding 12
                        months. California
                        residents can find this information below:
                    </p> <br>
                    <table>
                        <tr>
                            <th style="border:1px solid #cdcdcd; text-align: center;" class="about-para">Category of
                                Personal Information
                                Collected by NFT TALENT
                            </th>
                            <th style="border:1px solid #cdcdcd; text-align: center;" class="about-para">Category of
                                Third
                                Parties
                                Information is Disclosed to for a Business Purpose
                            </th>
                        </tr>
                        <tr>
                            <td>Identifiers.<br>
                                A real name, alias, postal address, unique personal identifier, online identifier,
                                Internet Protocol address, email
                                address, account name, or other similar identifiers.</br>
                            <td>
                                <ul class="privacy-ul">
                                    <li>
                                        Advertising networks (online identifier and hashed email address only)
                                    </li>
                                    <li>
                                        Data analytics providers
                                    </li>
                                    <li>
                                        Service providers (e.g., postal address for KYC purposes)
                                    </li>
                                    <li>
                                        Other Users/Public (Alias only)
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Personal information categories listed in the California Customer
                                Records statute (Cal. Civ. Code § 1798.80(e))
                                A name, address, passport number, driver's license or state identification card number,
                                or other financial information.
                            </td>
                            <td>
                                <ul class="privacy-ul">
                                    <li>
                                        Data analytics providers
                                    </li>
                                    <li>
                                        Service providers (e.g., postal address ID numbers for KYC purposes)
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Protected classification characteristics under California or federal law Age (40 years
                                or older), national origin,
                                citizenship, sex (including gender, gender identity, gender expression, pregnancy or
                                childbirth and related medical
                                conditions).</td>
                            <td>
                                <ul class="privacy-ul">
                                    <li>
                                        Data analytics providers
                                    </li>
                                    <li>
                                        Service providers (for KYC purposes)
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Commercial information
                                Records of personal property, products or services purchased, obtained, or considered,
                                or other purchasing or consuming
                                histories or tendencies.
                            </td>
                            <td>
                                <ul class="privacy-ul">
                                    <li>
                                        Advertising networks
                                    </li>
                                    <li>
                                        Data analytics providers
                                    </li>
                                    <li>
                                        Service providers
                                    </li>
                                    <li>
                                        Other Users/Public (records of NFT ownership tied to a wallet address)
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Internet or other electronic network activity
                                Browsing history, search history, information on a consumer's interaction with an
                                internet website, application, or
                                advertisement.
                            </td>
                            <td>
                                <ul class="privacy-ul">
                                    <li>
                                        Advertising networks
                                    </li>
                                    <li>
                                        Data analytics providers
                                    </li>
                                    <li>
                                        Service providers
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Inferences drawn from other personal information to create a profile about a
                                consumer<br>
                                Profile reflecting a consumer's preferences, characteristics, psychological trends,
                                predispositions, behavior,
                                attitudes, intelligence, abilities, and aptitudes.

                            </td>
                            <td>
                                <ul class="privacy-ul">
                                    <li>
                                        Advertising networks
                                    </li>
                                    <li>
                                        Data analytics providers
                                    </li>
                                    <li>
                                        Service providers
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table><br>
                    <p class="about-para">
                        <b>
                            SALES OF PERSONAL INFORMATION UNDER THE CCPA
                        </b><br>
                        For purposes of the CCPA, NFT TALENT does not “sell” personal information, nor do we have actual
                        knowledge of any “sale”
                        of personal information of minors under 16 years of age, as the term “sell” is commonly
                        understood. That said, we do
                        share information with third-party advertisers for the purpose of promoting our Services. To the
                        extent that such
                        sharing is considered a “sale” under the CCPA, you may opt-out of having your information shared
                        by disabling
                        third-party cookies on your device, or by contacting us. <br>
                        <b>
                            ADDITIONAL PRIVACY RIGHTS FOR CALIFORNIA RESIDENTS <br>
                            Non-Discrimination
                        </b><br>
                        California residents have the right not to receive discriminatory treatment by us for the
                        exercise of their rights
                        conferred by the CCPA.<br>
                        <b>
                            Authorized Agent
                        </b><br>
                        Only you, or someone legally authorized to act on your behalf, may make a verifiable consumer
                        request related to your
                        personal information. You may also make a verifiable consumer request on behalf of your minor
                        child. To designate an
                        authorized agent, please contact us and provide written authorization signed by you and your
                        designated agent.<br>
                        <b>
                            Verification
                        </b><br>
                        To protect your privacy, we will take the following steps to verify your identity before
                        fulfilling your request. When
                        you make a request, we will ask you to provide sufficient information that allows us to
                        reasonably verify you are the
                        person about whom we collected personal information or an authorized representative, which may
                        include asking you to
                        answer questions regarding your account and use of our Services.
                        If you are a California resident and would like to exercise any of your rights under the CCPA,
                        please contact us. We
                        will process such requests in accordance with applicable laws.
                        <br><b>
                            Refer-a-Friend and Similar Incentive Programs
                        </b><br>
                        As described above, we may offer referral programs or other incentivized data collection
                        programs. For example, we may
                        offer incentives to you such as discounts or promotional items or credit in connection with
                        these programs, wherein you
                        provide your personal information in exchange for a reward, or provide personal information
                        regarding your friends or
                        colleagues (such as their email address) and receive rewards when they sign up to use our
                        Services. (The referred party
                        may also receive rewards for signing up via your referral.) These programs are entirely
                        voluntary and allow us to grow
                        our business and provide additional benefits to you. The value of your data to us depends on how
                        you ultimately use our
                        Services, whereas the value of the referred party’s data to us depends on whether the referred
                        party ultimately becomes
                        a user and uses our Services. Said value will be reflected in the incentive offered in
                        connection with each program.
                        <br><b>

                            Accessibility
                        </b><br>
                        This Privacy Policy uses industry-standard technologies and was developed in line with the World
                        Wide Web Consortium’s
                        Web Content Accessibility Guidelines, version 2.1. If you wish to print this policy, please do
                        so from your web browser
                        or by saving the page as a PDF.
                        <br><b>
                            DO NEVAD A RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?
                        </b><br>
                        In Short: Yes, if you are a resident of Nevada, you are granted specific rights regarding access
                        to your personal
                        information.
                        If you are a resident of Nevada, you have the right to opt-out of the sale of certain Personal
                        Information to third
                        parties who intend to license or sell that Personal Information. You can exercise this right by
                        contacting us at

                        <a href="mailto: privacy@nfttalent.io"
                            style="display: contents; color: #a197aa;">privacy@nfttalent.io.</a> with
                        the subject line “Nevada Do Not Sell Request” and providing us with
                        your name and the email
                        address associated with your account. Please note that we do not currently sell your Personal
                        Information as sales are
                        defined in Nevada Revised Statutes Chapter 603A. If you have any questions, please contact us as
                        set forth below.
                        <br><b>
                            DO CHILDREN HAVE SPECIFIC PRIVACY RIGHTS?
                        </b><br>
                        The Services are not directed to children under 18 (or other age as required by local law), and
                        we do not knowingly
                        collect personal information from children. If you are a parent or guardian and believe your
                        child has uploaded personal
                        information to our site without your consent, you may contact us. If we become aware that a
                        child has provided us with
                        personal information in violation of applicable law, we will delete any personal information we
                        have collected, unless
                        we have a legal obligation to keep it, and terminate the child’s account if applicable.
                        <br><b>
                            DO WE MAKE UPDATES TO THIS NOTICE?
                        </b><br>
                        In Short: Yes, we will update this notice as necessary to stay compliant with relevant laws. We
                        may update this privacy
                        notice from time to time. The updated version will be indicated by an updated "Revised" date,
                        and the updated version
                        will be effective as soon as it is accessible. If we make material changes to this privacy
                        notice, we may notify you by
                        prominently posting a notice of such changes or by directly sending you a notification.
                        Therefore, we encourage you to
                        review this privacy notice frequently to be informed of how we are protecting your information.
                        You understand and agree
                        that you will be deemed to have accepted the updated Privacy Policy if you continue to use our
                        Services after the new
                        Privacy Policy takes effect.
                        <br><b>
                            OTHER PROVISIONS
                        </b><br>
                        Third-Party Websites/Applications. The Services may contain links to other websites/applications
                        and other
                        websites/applications may reference or link to our Services. These third-party services are not
                        controlled by us. We
                        encourage our users to read the privacy policies of each website and application with which they
                        interact. We do not
                        endorse, screen, or approve, and are not responsible for, the privacy practices or content of
                        such other websites or
                        applications. Providing personal information to third-party websites or applications is at your
                        own risk.
                        <br><b>
                            SUPERVISORY AUTHORITY
                        </b><br>
                        If you are located in the European Economic Area, Switzerland, the United Kingdom, or Brazil,
                        you have the right to
                        lodge a complaint with a supervisory authority if you believe our processing of your personal
                        information violates
                        applicable law.
                        <br><b>
                            HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?
                        </b><br>
                        Based on the applicable laws of your country, you may have the right to request access to the
                        personal information we
                        collect from you, change that information, or delete it. To request to review, update, or delete
                        your personal
                        information, please submit a request.
                        <br><b>
                            HOW CAN YOU CONTACT US ABOUT THIS NOTICE?
                        </b><br>
                        If you have questions or comments about our privacy practices or this Privacy Policy, you may
                        email us at
                        <a href="mailto: privacy@nfttalent.io"
                            style="display: contents;color: #a197aa">privacy@nfttalent.io.</a>

                    </p>
                </div>
            </div>
        </div>
        </div>

        <!-- =======================================
            Footer & Copyright Section Start Here
        ========================================-->

        <%- include('footer.ejs') %>

            <!--=======================================
            Footer & Copyright Section End Here
        ========================================-->

            <script src="/user/js/terms_of_services.js"></script>
</body>

</html>