<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HTML Meta Tags -->
    <title>Artwork | NFT Talent</title>
    <link rel="stylesheet" href="/assets/css/simplepicker.css">



    <meta itemprop="name" content="Single Artwork | NFT Talent">
    <meta itemprop="title" content="NFT Talent" />
    <meta itemprop="description" content="NFT Talent">
    <meta itemprop="image:width" content="300">
    <meta itemprop="image:height" content="300">
    <meta itemprop="image:alt" content="NFT-MarketPlace">


    <meta property="og:type" content="website">
    <meta property="og:title" content="Single Artwork | NFT Talent">
    <meta property="og:description" content="NFT Talent">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="og:image:alt" content="NFT-MarketPlace">


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Single Artwork | NFT Talent">
    <meta name="twitter:description" content="NFT Talent">
    <meta property="twitter:image:width" content="300">
    <meta property="twitter:image:height" content="300">
    <meta property="twitter:image:alt" content="NFT-MarketPlace">
    <!-- Meta Tags Generated via http://heymeta.com -->
    <%- include('css-lib.ejs') %>
</head>

<body style="overflow: unset;">
    <div class="loader">
        <div class="loader-img">
            <img src="/assets/img/loader-logo.png" alt="Loading">
        </div>
    </div>

    <!--=======================================
            Modal Start Here
    ========================================-->

    <%- include('sidebar.ejs') %>

        <!--=======================================
                Modal End Here
    ========================================-->

        <!--=======================================
                Navbar Start Here
    ========================================-->

        <div class="main-hero">
            <div class="hero-main-inr">
                <%- include('navbar.ejs') %>
            </div>
        </div>

        <!--=======================================
                Navbar End Here
    ========================================-->

        <!--=======================================
            Hero Single ArtworK Start Here
    ========================================-->

        <div class="hero-single-artwork">
            <div class="container-fluid">
                <div class="hero-inr">
                    <div class="nft-single-img-wrapper">
                        <a class="img-otr img-tilt" data-tilt>
                            <img class="img-artwork img-fluid" id="single-artwork" src="/assets/img/New_Project_1.jpg"
                                onerror="this.onerror=null;this.src='/assets/img/New_Project_1.jpg';"
                                alt="artwork-img" />
                        </a>
                        <!-- <div class="timer-otr copies">
                            <div class="body-sb copies-text">ERC-1155
                            </div>
                        </div> -->
                    </div>
                    <div class="icons-div">
                        <div class="icons-div-inr">
                            <div class="icon-otr icon-div">
                                <svg class="icon" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.75 20.25V4.5M3.75 15.75c6-4.5 10.5 4.5 16.5 0V4.5c-6 4.5-10.5-4.5-16.5 0"
                                        stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                        <div class="icons-div-inr">
                            <div class="heart-main icon-div">
                                <a class="heart-otr eye-otr">
                                    <!-- <i class="fa-solid fa-eye"></i> -->
                                    <img src="../assets/img/grid-logo.png" alt="grid-logo">
                                </a>
                                <p class="body-sb num" id="category">Category Name</p>
                            </div>
                            <div class="heart-main icon-div">
                                <a class="heart-otr eye-otr">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <p class="body-sb num" id="nft-views">0</p>
                            </div>
                            <div class="heart-main icon-div">
                                <a class="heart-otr copy-otr">
                                    <i class="fa-regular fa-copy"></i>
                                </a>
                                <p class="body-sb num" id="copies-of-nft">0</p>
                            </div>
                            <div class="heart-main icon-div" id="singleDiv"></div>

                        </div>
                    </div>
                    <span class="circle"></span>
                </div>
            </div>
            <img class="circle-1" src="../assets/img/svg/circles-1.svg" alt="circale" />
            <img class="circle-2" src="../assets/img/svg/circles-2.svg" alt="circale" />
        </div>

        <!--=======================================
            Hero Single ArtworK End Here
    ========================================-->

        <!--=======================================
            Artwork Body Start Here
    ========================================-->

        <div class="artwork-body">
            <div class="container-fluid">
                <div class="artwork-body-inr" id="artwork-container">
                    <div class="row row-custom justify-content-center">
                        <div class="col-lg-6 col-left-otr">
                            <div class="col-left-inr">
                                <div class="user-main-otr">
                                    <div class="create-otr">
                                        <div class="create-inr">
                                            <a href="" class="create-img" id="postedByHref">
                                                <img class="img-create" src=""
                                                    onerror="this.onerror=null;this.src='/assets/img/male-avatar-maker.jpg';"
                                                    alt="create-img" id="postedByImg" />
                                                <div class="check-otr" id="blue-tick-postedBy">
                                                    <svg class="check-icon" width="10" height="10" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#e42575"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg>
                                                </div>
                                            </a>
                                            <div class="create-content">
                                                <p class="body-s create-p">
                                                    Created by
                                                </p>
                                                <a href="" class="body-sb create-pb" id="postedBy">Meta Boss</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="create-otr">
                                        <div class="create-inr">
                                            <a href="" class="create-img" id="ownedByHref">
                                                <img class="img-create" src=""
                                                    onerror="this.onerror=null;this.src='/assets/img/male-avatar-maker.jpg';"
                                                    alt="create-img" id="ownedByImg" />
                                                <div class="check-otr" id="blue-tick-ownedBy">
                                                    <svg class="check-icon" width="10" height="10" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#e42575"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg>
                                                </div>
                                            </a>
                                            <div class="create-content">
                                                <p class="body-s create-p">
                                                    Owned by
                                                </p>
                                                <a href="" class="body-sb create-pb" id="ownedBy">NFT King</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="create-otr">
                                        <div class="create-inr">
                                            <a href="" class="create-img" id="collectionHref">
                                                <img class="img-create" src=""
                                                    onerror="this.onerror=null;this.src='/assets/img/male-avatar-maker.jpg';"
                                                    alt="create-img" id="collectionImg" />
                                                <!-- <div class="check-otr" id="blue-tick-ownedBy">
                                                    <svg class="check-icon" width="10" height="10" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8.438 2.813L4.061 7.188 1.876 5" stroke="#e42575"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg>
                                                </div> -->
                                            </a>
                                            <div class="create-content">
                                                <p class="body-s create-p">
                                                    Collection
                                                </p>
                                                <a href="" class="body-sb create-pb" id="collectionName">
                                                    <!-- Collection name -->
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="heading-h2 head" id="nft-name">
                                    <!-- NFT name -->
                                </h2>
                                <p class="body-m desc para1" id="nft-desc">
                                    <!-- Description -->
                                </p>
                                <a id="view-ipfs" href="" target="_blank" class="view-ipfs body-sb"><i
                                        class="fa-solid fa-eye"></i> View on IPFS <i class="fas fa-arrow-up"></i></a>
                                <div class="royalty-otr" id="nft-all-royalties" style="display: none;">
                                    <div class="royalty-title">
                                        <h4 class="heading-h4">Royalties <span id="royaltyPercentage">0%</span></h4>
                                        <p>Split royalties are automatically deposited into each recipient's wallet</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-right-otr" style=" 
                        z-index: 10;">
                            <div class="col-right-inr" id="sale-details">
                                <div class="bid-details" id="bid-details">
                                    <h4 class="heading-h4 bid-head" id="sale-head">
                                        Bid Details
                                    </h4>
                                    <div class="boxes-main" id="sale-main-box">
                                        <div class="bid-main" id="bid-main">
                                            <p class="bid body-mb" id="sale-title">
                                                Current Bid
                                            </p>
                                            <h3 class="heading-h3 bid-head" id="nft-price">
                                                0
                                            </h3>
                                            <p class="dollor body-mb" id="priceInUsd">
                                                $0
                                            </p>
                                        </div>
                                        <div class="auction-main" id="auction-time">
                                            <p class="body-mb acution" id="auctionHead">

                                            </p>
                                            <div id="clock" class="timer">
                                                <div class="hours-main main">
                                                    <p class="heading-h3 time-inr" id="days"></p>
                                                    <p class="hours-p body-mb">
                                                        Days
                                                    </p>
                                                </div>
                                                <div class="hours-main main">
                                                    <p class="heading-h3 time-inr" id="hours"></p>
                                                    <p class="hours-p body-mb">
                                                        Hours
                                                    </p>
                                                </div>
                                                <div class="minutes-main main">
                                                    <p class="heading-h3 time-inr" id="minutes"></p>
                                                    <p class="minutes-p body-mb">
                                                        Minutes
                                                    </p>
                                                </div>
                                                <div class="seconds-main main">
                                                    <p class="heading-h3 time-inr" id="seconds"></p>
                                                    <p class="seconds-p body-mb">
                                                        Seconds
                                                    </p>
                                                    <p class="seconds-p-2 body-mb">
                                                        Sec
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="action-otr row d-none" id="sale-btn">
                                        <!-- <a href="" class="btn-fill place-bid">Place Bid</a> -->
                                    </div>
                                    <div class="auction-btns-otr row d-none" id="saleBtns">
                                        <a href="#" class="single-auction-btn" id="put-on-sale">
                                            <i class="fa-solid fa-tag"></i>
                                            <span>Fixed Price</span>
                                        </a>
                                        <a href="#" class="single-auction-btn" id="is-timed-auction">
                                            <i class="fa-solid fa-clock"></i>
                                            <span>Timed Auction</span>
                                        </a>
                                        <a href="#" class="single-auction-btn put-on-auction">
                                            <i class="fa-solid fa-infinity"></i>
                                            <span>Unlimited Auction</span>
                                        </a>
                                    </div>
                                    <div class="row date-time-picker">
                                        <div class="row date-time-title"><span>Starting Date & Time</span></div>


                                        <!-- starting date starts -->
                                        <div class="col-md-6 pick-otr pick-date">
                                            <label for="date_picker">Date: </label>

                                            <div class="dropdown pick-date-dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                    id="dropdownMenuButton2" data-bs-toggle="dropdown"
                                                    aria-expanded="true">
                                                    Select Date
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                    <li><a class="dropdown-item"
                                                            id="afterListing-auction-create-nft">Right
                                                            After Listing</a></li>
                                                    <li><a class="dropdown-item" id="specific-auction-crate-nft">Pick
                                                            Specific Date</a></li>
                                                </ul>
                                            </div>
                                            <div class="startPicker"></div>
                                        </div>
                                        <div class="row date-time-title"><span>Expiration Date & Time</span></div>

                                        <!----- Expiration date starts ----->
                                        <div class="col-md-6 pick-otr pick-date">
                                            <label for="date_picker">Date: </label>

                                            <div class="dropdown pick-expiration-date-dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                    id="dropdownMenuButton3" data-bs-toggle="dropdown"
                                                    aria-expanded="true">
                                                    Select Date
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                                    <li><a class="dropdown-item">1 Day from Now</a></li>
                                                    <li><a class="dropdown-item">3 Days from Now</a></li>
                                                    <li><a class="dropdown-item">5 Days from Now</a></li>
                                                    <li><a class="dropdown-item" id="specificEnd-auction-crate-nft">Pick
                                                            Specific Date</a></li>

                                                </ul>
                                            </div>
                                            <div class="endPicker"></div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-2 text-center d-none" id="put-on-auction">
                                        <a class="btn-fill place-bid put-on-auction">Put on
                                            Auction</a>
                                    </div>
                                    <!-- bid and buy button -->
                                </div>
                            </div>
                        </div>
                        <div class="row row-cusotm activites-main-row flex-column">
                            <div class="col-lg-6 col-left-otr">
                                <div class="activity-details" id="bid-section">
                                    <h4 class="heading-h4 activity-head">
                                        Bid History
                                    </h4>
                                    <div class="place-bid-main-group" id="bid-history">
                                        <!-- Bid history -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-right-otr">
                                <div class="activity-details">
                                    <h4 class="heading-h4 activity-head">
                                        Activity
                                    </h4>
                                    <div class="place-bid-main-group" id="activity-tab">
                                        <!-- Activity tab -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

        <!--=======================================
            Artwork Body End Here
    ========================================-->



        <div class="explore-artwork">
            <div class="container-fluid">
                <div class="explore-artwork-inr">
                    <div class="heading-otr">
                        <div class="head-otr">
                            <h3 class="heading heading-h3">You May Also Like</h3>
                        </div>
                    </div>
                    <span class="line"></span>
                    <div class="row row-custom-main">
                        <div id="tab-1" class="tab-content active">
                            <div class="row row-custom-inr" id="related-nft">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--=======================================
            Place a bid Modal Start Here
            ========================================-->
        <div id="place-bid-modal" class="modal">
            <div class="_main">
                <a href="" class="close-icn">
                    <img class="close-icn" src="/assets/img/cancel.svg" alt="close">
                </a>
                <div class="_container">
                    <div class="_title">
                        <h3>Place Bid</h3>
                    </div>
                    <hr />
                    <div class="_content">
                        <div class="price-labels row">
                            <label class="col-6"><span>Base Price</span><span>:</span></label>
                            <label class="col-5 cntr" id="base-price">0</label>
                        </div>
                        <div class="current-bid-labels row">
                            <label class="col-6"><span>Current Highest Bid</span><span>:</span></label>
                            <label class="col-5 cntr" id="current-highest-bid">0</label>
                        </div>
                        <!-- <div class="quantity-inpt row">
                            <label for="" class="col-6"
                                ><span>Quantity</span><span>:</span></label
                            >
                            <div class="col-5 cntr">
                                <span class="minus">&minus;</span>
                                <input type="text" value="1" maxlength="2" />
                                <span class="plus">&plus;</span>
                            </div>
                        </div> -->
                        <div class="bid-amt row">
                            <label for="" class="col-6"><span>Bid Amount</span><span>:</span></label>
                            <div class="col-5 cntr">
                                <input type="number" id="bid-amount" value="" />
                            </div>
                        </div>
                        <!-- <div class="total-eth row">
                            <label for="" class="col-6"
                                ><span>Total</span><span>:</span></label
                            >
                            <div class="col-5 cntr">
                                <span id="total">400</span>
                                <span>BNB</span>
                            </div>
                        </div> -->
                        <div class="validation-block row">
                            <label for="" class="col-6"></label>
                            <div class="col-5 cntr" id="bidError"></div>
                        </div>
                    </div>
                    <hr />
                    <div class="_footer">
                        <button id="place-bid" class="place-bid-final">
                            Place Bid
                        </button>
                        <button id="close-bid" class="place-bid-final close">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--=======================================
            Place a bid Modal End Here
        ========================================-->

        <!--=======================================
            Buy Now Modal Start Here
        ========================================-->

        <div id="buy-now-modal" class="modal buy-now-modal">
            <div class="_main">
                <a href="" class="close-icn">
                    <img class="close-icn" src="/assets/img/cancel.svg" alt="close">
                </a>
                <div class="_container">
                    <div class="_title">
                        <h3>Buy Now</h3>
                    </div>
                    <hr />
                    <div class="_content">
                        <div class="price-labels row">
                            <label class="col-6"><span>Price</span><span>:</span></label>
                            <label class="col-5 cntr" id="price"></label>
                        </div>

                        <div class="quantity-inpt row" id="buy">
                            <label for="" class="col-6"><span>Quantity</span><span>:</span></label>
                            <div class="col-5 cntr" id="showQuantityERC1155">
                                <span class="minus">&minus;</span>
                                <input type="text" id="buy-quantity" value="1" />
                                <span class="plus">&plus;</span>
                            </div>
                            <div class="col-5 cntr" id="showQuantityERC721">
                                <input type="text" id="buy-quantity" value="1" maxlength="1" disabled />
                            </div>

                        </div>

                        <div class="total-eth row">
                            <label for="" class="col-6"><span>Total</span><span>:</span></label>
                            <div class="col-5 cntr">
                                <span id="buy-now-total"></span>
                                <span id="modal-curr-symbol"></span>
                            </div>
                        </div>
                        <div class="validation-block row">
                            <label for="" class="col-6"></label>
                            <div class="col-5 cntr" id="buyError"></div>
                        </div>
                    </div>
                    <hr />
                    <div class="_footer">
                        <button id="buy-now" class="place-bid-final">
                            Buy Now
                        </button>
                        <button id="close-buy" class="place-bid-final close">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--=======================================
            Buy Now Modal End Here
        ========================================-->
        <!--=======================================
            Put On Sale Modal Start Here
        ========================================-->

        <div id="put-onSale-modal" class="modal buy-now-modal">
            <div class="_main">
                <a href="" class="close-icn">
                    <img class="close-icn" src="/assets/img/cancel.svg" alt="close">
                </a>
                <div class="_container">
                    <div class="_title">
                        <h3>Put on Sale</h3>
                    </div>
                    <hr />
                    <div class="_content">
                        <div class="quantity-inpt row">
                            <label for="" class="col-6"><span>Price</span><span>:</span></label>
                            <div class="col-5 cntr">
                                <input type="number" id="sale-price" value="1" />
                            </div>
                        </div>

                        <div class="quantity-inpt row" id="sale-quantity-field">
                            <label for="" class="col-6"><span>Quantity</span><span>:</span></label>
                            <div class="col-5 cntr">
                                <span class="minus">&minus;</span>
                                <input type="text" id="sale-quantity" value="1" />
                                <span class="plus">&plus;</span>
                            </div>
                        </div>

                        <div class="total-eth row">
                            <label for="" class="col-6"><span>Total</span><span>:</span></label>
                            <div class="col-5 cntr">
                                <span id="sale-now-total" class="sale-price-total-val">0</span>
                                <span id="sale-currency-symbol">BNB</span>
                            </div>
                        </div>
                        <div class="validation-block row">
                            <label for="" class="col-6"></label>
                            <div class="col-5 cntr" id="saleError"></div>
                        </div>
                    </div>
                    <hr />
                    <div class="_footer">
                        <button id="put-on-saleBtn" class="place-bid-final">
                            Sale
                        </button>
                        <button id="close-sale" class="place-bid-final close">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--=======================================
             Put On Sale Modal End Here
        ========================================-->
        <!--=======================================
            Put On Auction Modal Start Here
        ========================================-->

        <div id="put-onAuction-modal" class="modal buy-now-modal">
            <div class="_main">
                <a href="" class="close-icn">
                    <img class="close-icn" src="/assets/img/cancel.svg" alt="close">
                </a>
                <div class="_container">
                    <div class="_title">
                        <h3>Put on Auction</h3>
                    </div>
                    <hr />
                    <div class="_content">
                        <div class="quantity-inpt row">
                            <label for="" class="col-6"><span>Price of single NFT</span><span>:</span></label>
                            <div class="col-5 cntr">
                                <input type="number" id="auction-price" value="1" />
                            </div>
                        </div>

                        <div class="quantity-inpt row" id="auction-quantity-field">
                            <label for="" class="col-6"><span>Quantity</span><span>:</span></label>
                            <div class="col-5 cntr">
                                <span class="minus">&minus;</span>
                                <input type="text" id="auction-quantity" value="1" />
                                <span class="plus">&plus;</span>
                            </div>
                        </div>

                        <div class="total-eth row">
                            <label for="" class="col-6"><span>Total</span><span>:</span></label>
                            <div class="col-5 cntr">
                                <span id="auction-now-total" class="sale-price-total-val">0</span>
                                <span id="auction-currency-symbol">BNB</span>
                            </div>
                        </div>
                        <div class="validation-block row">
                            <label for="" class="col-6"></label>
                            <div class="col-5 cntr" id="auctionError"></div>
                        </div>
                    </div>
                    <hr />
                    <div class="_footer">
                        <button id="put-on-auctionBtn" class="place-bid-final">
                            Auction
                        </button>
                        <button id="close-auction" class="place-bid-final close">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="zoomed-img-container">
            <div class="zoomed-img">
                <img src="/assets/img/New_Project_1.jpg" alt="artwork">
            </div>
            <div class="close-btn">
                <img id="icn-warning-close" class="close-icn" src="/assets/img/cancel.svg" alt="close">
            </div>
        </div>
        <!--=======================================
             Put On Auction Modal End Here
        ========================================-->

        <!--=======================================
            Footer & Copyright Section End Here
        ========================================-->
        <%- include('footer.ejs') %>

            <script src="/user/js/single-artwork.js"></script>
            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
            <script>
                $(document).ready(function () {
                    gsap.to("#sale-details", {
                        ease: "linear",
                        transform: "none",
                        translate: "none",
                        scrollTrigger: {
                            trigger: "#sale-details",
                            start: "top top",
                            endTrigger: ".activites-main-row",
                            end: `bottom ${$("#bid-details").height() + 105}px`,
                            pin: true,
                            pinSpacing: false,
                            markers: false
                        }
                    })
                    setTimeout(() => {
                        ScrollTrigger.refresh(true);
                    }, 1000);
                })
            </script> -->

            <script>
                $(document).ready(function () {
                    $(".date-time-picker").hide();

                    $(".single-auction-btn").on("click", function (e) {
                        $(".active-single-auction").removeClass("active-single-auction");
                        $(this).addClass("active-single-auction")
                        e.preventDefault();
                        if ($(this).hasClass("active-single-auction") && $(this).attr("id") === "is-timed-auction") {
                            $(".date-time-picker").fadeIn();
                            $("#put-on-auction").removeClass('d-none');
                            $("#put-on-auction").attr('auctiontype', "time");

                        } else {
                            $(".date-time-picker").fadeOut();
                            $("#put-on-auction").addClass('d-none');
                            $("#put-on-auction").attr('auctiontype', "");

                        }

                    });
                })
            </script>

            <!-- create nft new date time picker -->
            <script src="/assets/js/simplepicker.js"></script>

            <script>
                $(document).ready(function () {
                    let startPicker = new SimplePicker(".startPicker");
                    $("#pick-time-modal").hide();
                    $("#pick-date-modal").hide();
                    $(".pick-starting-time-column").hide();
                    $(".pick-expiration-time-column").hide();
                    $("#pick-expiration-date-modal").hide();

                    // =======Starting date=======
                    $(".pick-date-dropdown #dropdownMenuButton2").on("click", function (e) {
                        $(".pick-date-dropdown .dropdown-menu").slideToggle();
                        e.stopPropagation();
                    })
                    $(document).click(function () {
                        $(".pick-date-dropdown .dropdown-menu").slideUp();
                    });
                    $(".pick-date-dropdown .dropdown-item").on("click", function () {
                        if ($(this).attr("id") === "afterListing-auction-create-nft") {
                            var txt = $(this).text().trim();
                            $(".pick-date-dropdown #dropdownMenuButton2").html(txt).val('after-listening');
                            $(".pick-date-dropdown #dropdownMenuButton2").css("color", "#fff");
                            $(".pick-starting-time-column").hide();

                        } else if ($(this).attr("id") == "specific-auction-crate-nft") {
                            var txt = $(this).text().trim();

                            $(".pick-date-dropdown #dropdownMenuButton2").html(txt).val('Specific-time');
                            $(".pick-date-dropdown #dropdownMenuButton2").css("color", "#fff");
                            startPicker.open();

                            $("body").css("overflow", "hidden");
                        }
                        else {
                            $(".pick-date-dropdown #dropdownMenuButton2").html("Select Date").val();

                        }
                        startPicker.on('submit', (date, readableDate) => {
                            $(".pick-date-dropdown #dropdownMenuButton2").html(readableDate).val(readableDate);
                            $("body").css("overflow", "hidden auto");
                        });

                        $(".pick-date-dropdown .dropdown-menu").slideUp();
                    })
                    // =======expiration date=======
                    let endPicker = new SimplePicker(".endPicker");

                    $(".pick-expiration-date-dropdown #dropdownMenuButton3").on("click", function (e) {
                        $(".pick-expiration-date-dropdown .dropdown-menu").slideToggle();
                        e.stopPropagation();
                    })
                    $(document).click(function () {
                        $(".pick-expiration-date-dropdown .dropdown-menu").slideUp();
                    });
                    $(".pick-expiration-date-dropdown .dropdown-item").on("click", function () {
                        if ($(this).attr("id") === "specificEnd-auction-crate-nft") {
                            var txt = $(this).text().trim();
                            $(".pick-expiration-date-dropdown #dropdownMenuButton3").html(txt).val('txt');
                            $(".pick-expiration-date-dropdown #dropdownMenuButton3").css("color", "#fff");
                            endPicker.open();

                            $("body").css("overflow", "hidden");
                        } else {
                            var txt = $(this).text().trim();
                            $(".pick-expiration-date-dropdown #dropdownMenuButton3").html(txt);
                            $(".pick-expiration-date-dropdown #dropdownMenuButton3").val(txt);
                            $(".pick-expiration-date-dropdown #dropdownMenuButton3").css("color", "#fff");
                            $(".pick-expiration-time-column").hide();
                        }
                        endPicker.on('submit', (date, readableDate) => {
                            $(".pick-expiration-date-dropdown #dropdownMenuButton3").html(readableDate).val(readableDate);
                            $("body").css("overflow", "hidden auto");
                        });

                        $(".pick-expiration-date-dropdown .dropdown-menu").slideUp();
                    });
                });

            </script>

            <script>
                $(document).ready(function () {
                    $(".date-time-picker").hide();

                    $(".single-auction-btn").on("click", function (e) {
                        $(".active-single-auction").removeClass("active-single-auction");
                        $(this).addClass("active-single-auction")
                        e.preventDefault();
                        if ($(this).hasClass("active-single-auction") && $(this).attr("id") === "is-timed-auction") {
                            $(".date-time-picker").fadeIn();
                        } else {
                            $(".date-time-picker").fadeOut();
                        }

                    });
                })
            </script>

</body>

</html>