<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trust & Safety | NFT Talent</title>
    <%- include('css-lib.ejs') %>
</head>

<body>
    <div class="loader">
        <div class="loader-img">
            <img src="/assets/img/loader-logo.png" alt="Loading">
        </div>
    </div>

    <!--=======================================
            Modal Start Here
    ========================================-->

    <%- include('sidebar.ejs') %>

        <!--=======================================
                Modal End Here
    ========================================-->

        <!--=======================================
                Navbar Start Here
    ========================================-->

        <div class="main-hero">
            <div class="hero-main-inr">
                <%- include('navbar.ejs') %>
            </div>
        </div>

        <!--=======================================
                Navbar End Here
    ========================================-->

        <!-- TODO: Body goes here -->

        <div class="live-acution-home2">
            <div class="container-fluid">
                <div class="live-auction-inr">
                    <div class="heading-otr">
                        <div class="head-otr">
                            <h3 class="heading heading-h3">Trust & Safety</h3>
                        </div>
                    </div>
                    <span class="line"></span>
                </div>
                <div>
                    <p class="about-para">
                        Please be aware that we welcome any feedback. For the benefit of the community, we always
                        appreciate hearing from you so
                        that we can keep making the correct changes. In addition, you can discover helpful details about
                        our rules and policies
                        below.
                        The details we have on the topics we are frequently asked about are listed below. Visit the NFT
                        talent Help Center if
                        you have any additional questions. If there are still any questions, kindly contact us using the
                        chat window below. <br>
                        <b style="color: #cdcdcd;">
                            NFT talent commitment
                        </b><br>
                        NFT talent is a special place where you can find everything you've always wanted.
                        We ensure that all the information about NFT projects is reliable and safe on our platform.
                        We'll vet projects based on
                        their quality and safety, and all users should use Launchpad at their own discretion.

                    </p>
                </div>
            </div>
        </div>
        </div>

        <!-- =======================================
            Footer & Copyright Section Start Here
        ========================================-->

        <%- include('footer.ejs') %>

            <!--=======================================
            Footer & Copyright Section End Here
        ========================================-->

</body>

</html>