<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wallet | NFT Talent</title>
    <%- include('css-lib.ejs') %>

        <!-- <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
        /> -->

        <!-- <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script> -->
</head>

<body>
    <div class="loader">
        <div class="loader-img">
            <img src="/assets/img/loader-logo.png" alt="Loading">
        </div>
    </div>

    <!--=======================================
            Modal Start Here
    ========================================-->

    <%- include('sidebar.ejs') %>

        <!-- <div id="myNav" class="overlay-content-otr">
            <div class="modal-content-custom">
                <div class="overlay-content">
                    <svg class="icon-close" width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 1L1 17M17 17L1 1" stroke="#CFCFCF" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <div class="logo-otr">
                        <a href="../index.html" class="logo-inr">
                            <img class="logo" src="../assets/img/brand-logo.png" alt="brand-logo">
                        </a>
                    </div>
                    <div class="input-main">
                        <input class="input" type="text" placeholder="Search Ethoz">
                        <svg class="search-icon" width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 15A7 7 0 108 1a7 7 0 000 14zM12.95 12.95L17 17" stroke="#999" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="navigation-otr">
                        <ul class="navigation-inr">
                            <li class="nav-li">
                                <a class="nav-a heading-h4 home">Home</a>
                                <ul class="dropdown-otr drop-1">
                                    <li class="dropdown-li">
                                        <a href="../index.html" class="dropdown-a body-mb">Home Layout 1</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Home-2.html" class="dropdown-a body-mb">Home Layout 2</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Home-3.html" class="dropdown-a body-mb">Home Layout 3</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Home-4.html" class="dropdown-a body-mb">Home Layout 4</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Home-5.html" class="dropdown-a body-mb">Home Layout 5</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Home-6.html" class="dropdown-a body-mb">Home Layout 6</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-li">
                                <a class="nav-a heading-h4 explore">Explore</a>
                                <ul class="dropdown-otr drop-2">
                                    <li class="dropdown-li">
                                        <a href="../pages/Explore-Artworks.html" class="dropdown-a body-mb">Explore
                                            Artworks</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Single-Artwork.html" class="dropdown-a body-mb">Single
                                            Artwork</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Explore-Creators.html" class="dropdown-a body-mb">Explore
                                            Creators</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Single-Creator.html" class="dropdown-a body-mb">Single
                                            Creator</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-li">
                                <a href="../pages/Activity.html" class="nav-a heading-h4">Activity</a>
                            </li>
                            <li class="nav-li">
                                <a class="nav-a heading-h4 pages">Pages</a>
                                <ul class="dropdown-otr drop-3">
                                    <li class="dropdown-li">
                                        <a href="../pages/About.html" class="dropdown-a body-mb">About</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/How-it-Works.html" class="dropdown-a body-mb">How it Works</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Contact.html" class="dropdown-a body-mb">Contact</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Login.html" class="dropdown-a body-mb">Login</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Sign-Up.html" class="dropdown-a body-mb">Sign Up</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a class="dropdown-a body-mb other-pages">Other Pages</a>
                                        <ul class="other-dropdown-otr drop-4">
                                            <li class="other-dropdown-li">
                                                <a href="../pages/404.html" class="other-dropdown-a body-mb">404</a>
                                            </li>
                                            <li class="other-dropdown-li">
                                                <a href="../pages/Privacy-Policy.html"
                                                    class="other-dropdown-a body-mb">Privacy Policy</a>
                                            </li>
                                            <li class="other-dropdown-li">
                                                <a href="../pages/Terms-of-Services.html"
                                                    class="other-dropdown-a body-mb">Terms of Service</a>
                                            </li>
                                            <li class="other-dropdown-li">
                                                <a href="../pages/Coming-Soon.html"
                                                    class="other-dropdown-a body-mb">Coming
                                                    Soon</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-li">
                                <a class="nav-a heading-h4 community">Community</a>
                                <ul class="dropdown-otr drop-5">
                                    <li class="dropdown-li">
                                        <a href="../pages/Blog.html" class="dropdown-a body-mb">Blog</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Help-Center.html" class="dropdown-a body-mb">Help Center</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="action-otr">
                        <a href="../pages/Create.html" class="btn-fill btn-create">Create</a>
                        <a href="../pages/Connect-Wallet.html" class="btn-outline1 btn-wallet">Connect Wallet</a>
                    </div>
                    <ul class="icon-ul">
                        <li class="icon-li">
                            <a href="" class="icon-a">
                                <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 28c6.627 0 12-5.373 12-12S22.627 4 16 4 4 9.373 4 16s5.373 12 12 12z"
                                        stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M21 11h-2a3 3 0 00-3 3v14M12 18h8" stroke="#999" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </li>
                        <li class="icon-li">
                            <a href="" class="icon-a">
                                <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6 25s5-1 6-4c0 0-8-3-6-14 0 0 4 5 10 6v-2a5 5 0 019.584-2H30l-4 4c0 7-5 14-14 14-4 0-6-2-6-2z"
                                        stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </li>
                        <li class="icon-li">
                            <a href="" class="icon-a">
                                <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 19.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM20 19.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                                        fill="#999" />
                                    <path
                                        d="M9.3 10A21.917 21.917 0 0116 9a21.916 21.916 0 016.7 1M22.7 22a21.917 21.917 0 01-6.7 1 21.917 21.917 0 01-6.7-1"
                                        stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M19.38 22.761l1.504 3.006a.996.996 0 001.123.526c3.068-.75 5.712-2.057 7.638-3.73a1.007 1.007 0 00.31-1.05L25.706 7.358a1.002 1.002 0 00-.578-.639c-1.2-.491-2.44-.875-3.708-1.148a1.002 1.002 0 00-1.165.66l-.997 2.99M12.62 22.76l-1.504 3.007a.997.997 0 01-1.124.526c-3.067-.75-5.711-2.057-7.637-3.73a1.007 1.007 0 01-.309-1.05L6.293 7.358a1.003 1.003 0 01.578-.64c1.2-.49 2.44-.874 3.708-1.147a1.002 1.002 0 011.165.66l.997 2.99"
                                        stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M12 19.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM20 19.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                                        fill="#999" />
                                    <path
                                        d="M9.3 10A21.917 21.917 0 0116 9a21.916 21.916 0 016.7 1M22.7 22a21.917 21.917 0 01-6.7 1 21.917 21.917 0 01-6.7-1"
                                        stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M19.38 22.761l1.504 3.006a.996.996 0 001.123.526c3.068-.75 5.712-2.057 7.638-3.73a1.007 1.007 0 00.31-1.05L25.706 7.358a1.002 1.002 0 00-.578-.639c-1.2-.491-2.44-.875-3.708-1.148a1.002 1.002 0 00-1.165.66l-.997 2.99M12.62 22.76l-1.504 3.007a.997.997 0 01-1.124.526c-3.067-.75-5.711-2.057-7.637-3.73a1.007 1.007 0 01-.309-1.05L6.293 7.358a1.003 1.003 0 01.578-.64c1.2-.49 2.44-.874 3.708-1.147a1.002 1.002 0 011.165.66l.997 2.99"
                                        stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </li>
                        <li class="icon-li">
                            <a href="" class="icon-a">
                                <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15 11l-4 17M7.693 19.57A10 10 0 1126 14c0 5.523-4 9-8 9s-5.204-2.633-5.204-2.633"
                                        stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </li>
                        <li class="icon-li">
                            <a href="" class="icon-a">
                                <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 16l-6-4v8l6-4z" stroke="#999" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M3 16c0 3.72.384 5.902.676 7.023a1.99 1.99 0 001.204 1.362C9.065 25.993 16 25.95 16 25.95s6.935.044 11.12-1.564a1.99 1.99 0 001.204-1.362C28.616 21.902 29 19.72 29 16c0-3.72-.384-5.902-.676-7.023a1.99 1.99 0 00-1.205-1.362C22.935 6.007 16 6.05 16 6.05S9.065 6.007 4.88 7.615a1.99 1.99 0 00-1.204 1.362C3.384 10.098 3 12.28 3 16z"
                                        stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </li>
                        <li class="icon-li">
                            <a href="" class="icon-a">
                                <svg class="icon" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11 16.859l11.24 9.89a1 1 0 001.635-.527l4.702-20.516a1 1 0 00-1.34-1.154l-23.07 9.063a1 1 0 00.17 1.911L11 16.86zM11 16.86L28.014 4.57"
                                        stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M16.613 21.799l-3.906 3.906A1 1 0 0111 24.998v-8.14" stroke="#999"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <div class="language-selector">
                        <ul class="language-ul">
                            <li class="language-li">
                                <a class="language-a">
                                    <img class="flag-img" src="../assets/img/flag-img1.png" alt="flag-img">
                                    <p class="body-sb language">English</p>
                                    <svg class="caret-down" width="12" height="8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 1.5l-5 5-5-5" stroke="#666" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <ul class="drop-ul">
                                    <li class="drop-li">
                                        <a href="" class="drop-a">
                                            <img class="flag-img" src="../assets/img/flag-img1.png" alt="flag-img">
                                            <p class="body-sb language">English</p>
                                        </a>
                                    </li>
                                    <li class="drop-li">
                                        <a href="" class="drop-a">
                                            <img class="flag-img" src="../assets/img/flag-img2.png" alt="flag-img">
                                            <p class="body-sb language">Pakistan</p>
                                        </a>
                                    </li>
                                    <li class="drop-li">
                                        <a href="" class="drop-a">
                                            <img class="flag-img" src="../assets/img/flag-img3.png" alt="flag-img">
                                            <p class="body-sb language">UAE</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="copy-name body-s">
                        Copyright © 2021 by <a href="https://themeforest.net/user/vistothemes"
                            class="name body-sb">VistoThemes.</a> All rights reserved.
                    </div>
                    <div class="privacy-link">
                        <a href="../pages/Privacy-Policy.html" class="link body-sb">Privacy Policy</a>
                        <span class="dot">•</span>
                        <a href="../pages/Terms-of-Services.html" class="link body-sb">Terms of Service</a>
                    </div>
                </div>
            </div>
        </div> -->

        <!--=======================================
                Modal End Here
    ========================================-->

        <!--=======================================
                Navbar Start Here
    ========================================-->

        <!-- <div class="navbar-main-2">
            <div class="container-fluid">
                <div class="navbar-inr-2">
                    <div class="burger-menu">
                        <div class="burger-icon-otr burger-click">
                            <svg class="burger-icon" width="24" height="24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12h16.5M4 6h9M11 18h9" stroke="#999" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <a href="../index.html" class="logo-otr">
                            <img class="logo-img" src="../assets/img/brand-logo.png" alt="brand-logo">
                        </a>
                    </div>
                    <div class="input-main">
                        <input class="input" type="text" placeholder="Search Ethoz">
                        <svg class="search-icon" width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 15A7 7 0 108 1a7 7 0 000 14zM12.95 12.95L17 17" stroke="#999" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="navigation-otr">
                        <ul class="navigation-inr">
                            <li class="nav-li">
                                <a class="nav-a body-sb">Home</a>
                                <ul class="dropdown-otr">
                                    <li class="dropdown-li">
                                        <a href="../index.html" class="dropdown-a body-sb">Home Layout 1</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Home-2.html" class="dropdown-a body-sb">Home Layout 2</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Home-3.html" class="dropdown-a body-sb">Home Layout 3</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Home-4.html" class="dropdown-a body-sb">Home Layout 4</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Home-5.html" class="dropdown-a body-sb">Home Layout 5</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Home-6.html" class="dropdown-a body-sb">Home Layout 6</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-li">
                                <a class="nav-a body-sb">Explore</a>
                                <ul class="dropdown-otr">
                                    <li class="dropdown-li">
                                        <a href="../pages/Explore-Artworks.html" class="dropdown-a body-sb">Explore
                                            Artworks</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Single-Artwork.html" class="dropdown-a body-sb">Single
                                            Artwork</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Explore-Creators.html" class="dropdown-a body-sb">Explore
                                            Creators</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Single-Creator.html" class="dropdown-a body-sb">Single
                                            Creator</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-li">
                                <a href="../pages/Activity.html" class="nav-a body-sb">Activity</a>
                            </li>
                            <li class="nav-li display">
                                <a class="nav-a body-sb">Pages</a>
                                <ul class="dropdown-otr">
                                    <li class="dropdown-li">
                                        <a href="../pages/About.html" class="dropdown-a body-sb">About</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/How-it-Works.html" class="dropdown-a body-sb">How It Works</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Contact.html" class="dropdown-a body-sb">Contact</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Login.html" class="dropdown-a body-sb">Login</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Sign-Up.html" class="dropdown-a body-sb">Sign Up</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a class="dropdown-a body-sb">Other Pages</a>
                                        <ul class="other-dropdown-otr">
                                            <li class="other-dropdown-li">
                                                <a href="../pages/404.html" class="other-dropdown-a body-sb">404</a>
                                            </li>
                                            <li class="other-dropdown-li">
                                                <a href="../pages/Privacy-Policy.html"
                                                    class="other-dropdown-a body-sb">Privacy Policy</a>
                                            </li>
                                            <li class="other-dropdown-li">
                                                <a href="../pages/Terms-of-Services.html"
                                                    class="other-dropdown-a body-sb">Terms of Service</a>
                                            </li>
                                            <li class="other-dropdown-li">
                                                <a href="../pages/Coming-Soon.html"
                                                    class="other-dropdown-a body-sb">Coming
                                                    Soon</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-li display">
                                <a class="nav-a body-sb">Community</a>
                                <ul class="dropdown-otr">
                                    <li class="dropdown-li">
                                        <a href="../pages/Blog.html" class="dropdown-a body-sb">Blog</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Help-Center.html" class="dropdown-a body-sb">Help Center</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dots">
                                <a class="dot-a body-sb click-open1">
                                    <svg class="dot-icon" width="20" height="4" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="2" cy="2" r="2" fill="#666" />
                                        <circle cx="10" cy="2" r="2" fill="#666" />
                                        <circle cx="18" cy="2" r="2" fill="#666" />
                                    </svg>
                                </a>
                                <ul class="dropdown-dot click-event1">
                                    <li class="dropdown-li">
                                        <a href="../pages/About.html" class="dropdown-a body-sb">About</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Contact.html" class="dropdown-a body-sb">Contact</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Login.html" class="dropdown-a body-sb">Login</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Sign-Up.html" class="dropdown-a body-sb">Sign Up</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/404.html" class="dropdown-a body-sb">404</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Privacy-Policy.html" class="dropdown-a body-sb">Privacy
                                            Policy</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Terms-of-Services.html" class="dropdown-a body-sb">Terms of
                                            Service</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Coming-Soon.html" class="dropdown-a body-sb">Coming Soon</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Blog.html" class="dropdown-a body-sb">Blog</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Blog-Detail.html" class="dropdown-a body-sb">Blog Details</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/How-it-Works.html" class="dropdown-a body-sb">How it Works</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Help-Center.html" class="dropdown-a body-sb">Help Center</a>
                                    </li>
                                    <li class="dropdown-li">
                                        <a href="../pages/Article-Detail.html" class="dropdown-a body-sb">Article
                                            Details</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="action-otr">
                        <a href="../pages/Create.html" class="btn-fill btn-create">Create</a>
                        <div class="bell-icon-otr">
                            <a class="icon-inr click-open2">
                                <span class="circle"></span>
                                <svg class="bell-icon" width="24" height="24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.269 9.75A6.74 6.74 0 0112.051 3c3.712.028 6.68 3.113 6.68 6.835v.665c0 3.358.703 5.306 1.322 6.371A.75.75 0 0119.408 18H4.592a.749.749 0 01-.645-1.13c.62-1.064 1.322-3.013 1.322-6.37v-.75z"
                                        stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M9 18v.75a3 3 0 006 0V18" stroke="#999" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                            <div class="icon-hover click-event2">
                                <div class="heading-otr">
                                    <h5 class="head heading-h5">Notifications</h5>
                                    <a href="" class="link-see body-sb">See All</a>
                                </div>
                                <div class="box-otr">
                                    <a href="" class="img-otr">
                                        <img class="art-img" src="../assets/img/cover-img4.jpg" alt="img">
                                    </a>
                                    <a href="" class="content-otr">
                                        <p class="desc body-mb">The Beyblade in Black</p>
                                        <p class="desc-2 body-s">New bid: <span class="desc-inr body-sb">4.21 ETH</span>
                                        </p>
                                        <p class="desc-3 body-s">1 hours ago</p>
                                    </a>
                                </div>
                                <div class="box-otr">
                                    <a href="" class="img-otr">
                                        <img class="art-img" src="../assets/img/cover-img9.jpg" alt="img">
                                    </a>
                                    <a href="" class="content-otr">
                                        <p class="desc body-mb">Abstract Art on Wall</p>
                                        <p class="desc-2 body-s">New bid: <span class="desc-inr body-sb">0.216
                                                ETH</span>
                                        </p>
                                        <p class="desc-3 body-s">10 hours ago</p>
                                    </a>
                                </div>
                                <div class="box-otr">
                                    <a href="" class="img-otr">
                                        <img class="art-img" src="../assets/img/cover-img15.jpg" alt="img">
                                    </a>
                                    <a href="" class="content-otr">
                                        <p class="desc body-mb">3D Ethereum in Diamond</p>
                                        <p class="desc-2 body-s">New bid: <span class="desc-inr body-sb">2.156
                                                ETH</span>
                                        </p>
                                        <p class="desc-3 body-s">2 hours ago</p>
                                    </a>
                                </div>
                                <div class="box-otr">
                                    <a href="" class="img-otr">
                                        <img class="art-img" src="../assets/img/cover-img6.jpg" alt="img">
                                    </a>
                                    <a href="" class="content-otr">
                                        <p class="desc body-mb">Softy Spehere Gradients</p>
                                        <p class="desc-2 body-s">New bid: <span class="desc-inr body-sb">2.56 ETH</span>
                                        </p>
                                        <p class="desc-3 body-s">3 hours ago</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-otr">
                            <a class="profile-inr click-open3">
                                <img class="creator" src="../assets/img/user-Image17.jpg" alt="creator">
                                <p class="price body-sb">3.067 ETH</p>
                            </a>
                            <div class="icon-hover-2 click-event3">
                                <h5 class="heading heading-h5">The Lucky Being</h5>
                                <div class="copy-icon-otr">
                                    <p class="desc body-s">0xd07dc4262bcdb...2430</p>
                                    <svg class="copy-icon" width="18" height="18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.636 12.636H15a2 2 0 002-2V3a2 2 0 00-2-2H7.364a2 2 0 00-2 2v2.364"
                                            stroke="#CFCFCF" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M10.636 5.364H3a2 2 0 00-2 2V15a2 2 0 002 2h7.636a2 2 0 002-2V7.364a2 2 0 00-2-2z"
                                            stroke="#CFCFCF" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </div>
                                <div class="box-otr">
                                    <div class="img-otr">
                                        <img class="img-eht" src="../assets/img/ethereum.png" alt="img">
                                    </div>
                                    <div class="price-otr">
                                        <p class="desc body-s">Current Balance</p>
                                        <h5 class="heading heading-h5">3.067 ETH</h5>
                                    </div>
                                </div>
                                <ul class="link-profile-otr">
                                    <li class="link-profile-inr">
                                        <span class="circle-hover"></span>
                                        <a href="" class="profile body-sb">My Profile</a>
                                    </li>
                                    <li class="link-profile-inr">
                                        <span class="circle-hover"></span>
                                        <a href="" class="profile body-sb">My Items</a>
                                    </li>
                                    <li class="link-profile-inr">
                                        <span class="circle-hover"></span>
                                        <a href="" class="profile body-sb">Manage Funds</a>
                                    </li>
                                    <li class="link-profile-inr">
                                        <span class="circle-hover"></span>
                                        <a href="" class="profile body-sb">Disconnect</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!--=======================================
                Navbar End Here
    ========================================-->

        <!--=======================================
                Create Start Here
    ========================================-->
        <div class="main-hero">
            <div class="hero-main-inr">
                <%- include('navbar.ejs') %>

                    <div class="connect-wallet">
                        <div class="container">
                            <div class="col-lg-8 col-head-otr connect-wallet-heading-column">
                                <h2 class="connect-heading heading-h2">
                                    Connect Wallet
                                </h2>
                            </div>
                            <span class="line"></span>
                            <div class="col-lg-8 col-connect-otr">
                                <div class="col-connect-inr">
                                    <!-- <p class="desc body-m">
                                    You can connect your wallet with one of the
                                    following wallet providers.
                                </p> -->
                                    <div class="row row-boxes wallet-box">
                                        <div class="col-lg-6 col-sm-6 col-box-otr">
                                            <!-- <input type="button" class="box-inr box-1" value="MetaMask"> -->
                                            <a href="#" class="box-inr box-1" id="btn-metamask">
                                                <div class="icon-otr">
                                                    <img class="icon" src="../assets/img/MetaMask_logo.png"
                                                        alt="icon" />
                                                </div>
                                                <h5 class="head heading-h5">
                                                    MetaMask
                                                </h5>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!--=======================================
                Create End Here
    ========================================-->

            <!--=======================================
            Call to Action Start Here
    ========================================-->


            <!--=======================================
            Call to Action End Here
    ========================================-->

            <!--=======================================
            Footer & Copyright Section Start Here
        ========================================-->

            <%- include('footer.ejs') %>

                <!--=======================================
            Footer & Copyright Section End Here
        ========================================-->
                <script src="../user/js/wallet.js"></script>
</body>

</html>