.contact-page-section {
    margin: 0;
    padding: 80px 0 100px;
    background: url(../../images/career-form-pattern.svg) repeat top center;
    @include max-width($lg) {
        padding: 70px 0 80px;
    }
    @include max-width($lg) {
        padding: 50px 0 60px;
    }
    .contact-block {
        background: $secondary;
        margin: 0;
        padding: 24px;
        border-radius: 14px;
        position: relative;
        overflow: hidden;
        height: 100%;
        @extend .flex, %flex-column, %justify-between;
        @include max-width($sm) {
            margin: 0 0 50px 0;
            height: auto;
        }
        .plus-logo-animation {
            bottom: -70px;
            top: auto;
            z-index: 0;
            max-width: 248px;
        }
        p {
            color: rgba($white, 0.7);
        }
        .contact-detail {
            margin: 0;
            padding: 20px 0;
            @extend .flex;
            .con-icon {
                margin: 0 15px 0 0;
                min-width: 40px;
                text-align: center;
                flex-shrink: 0;
                img {
                    width: 32px;
                }
            }
            p {
                color: $white;
                font-size: 20px;
                margin: 0 0 5px 0;
                font-family: $primary-font-medium;
                @include max-width($md) {
                    font-size: 18px;
                }
                @include max-width($sm) {
                    font-size: 16px;
                }
            }
            span,
            a {
                color: rgba($white, 0.7);
                font-size: 18px;
                @include max-width($md) {
                    font-size: 18px;
                }
                @include max-width($sm) {
                    font-size: 16px;
                }
            }
        }
        .social-icon {
            position: relative;
            ul {
                li {
                    a {
                        img {
                            @extend %transition;
                            filter: invert(38%) sepia(91%) saturate(3067%)
                                hue-rotate(193deg) brightness(100%)
                                contrast(106%);
                        }
                        &:hover {
                            img {
                                filter: brightness(1);
                            }
                        }
                    }
                }
            }
        }
    }
}
