footer {
    margin: 0;
    position: relative;
    background: $black;
    border-radius: 100px 0 0 0;
    overflow: hidden;
    @include max-width($sm) {
        border-radius: 70px 0 0 0;
    }
    .footer-inside {
        padding: 60px 0 0 0;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.3) -256.03%,
            rgba(255, 255, 255, 0) 107.07%
        );
    }
    h6 {
        font-size: 16px;
        line-height: 28px;
        border-bottom: solid 1px $dark-border;
        padding: 0 0 10px 0;
    }
    .footer-logo {
        margin: 0;
        padding: 0;
    }
    .download-app {
        margin: 30px 0 0 0;
        @include max-width($sm) {
            margin: 20px 0 20px 0;
        }
        h6 {
            border-bottom: 0;
            padding-bottom: 0;
        }
        img {
            border-radius: 5px;
        }
    }
    ul {
        margin: 0 0 30px;
        overflow: hidden;
        @include max-width($xs) {
            margin-bottom: 20px;
        }
        li {
            margin: 0 0 10px 0;
            padding: 0;
            @include max-width($xs) {
                width: 50%;
                float: left;
            }
            a {
                color: $body-text;
                text-transform: capitalize;
                // @include max-width($sm) {
                //     font-size: 14px;
                // }
            }
        }
    }
    .footer-contact {
        margin: 40px 0 0 0;
        padding: 24px 30px;
        background-color: #111111;
        border-radius: 20px;
        @extend .flex, %justify-between;
        @include max-width($lg) {
            flex-wrap: wrap;
            align-items: center;
        }
        @include max-width($sm) {
            flex-direction: column;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 20px;
        }
        .phone,
        .email,
        .address {
            @include max-width($md) {
                margin-bottom: 15px;
            }
            img {
                margin-right: 10px;
            }
        }
        .address {
            @include max-width($md) {
                margin-bottom: 0px;
            }
            @include max-width($sm) {
                margin-bottom: 15px;
            }
        }
        a {
            color: $white;
            &:hover {
                color: $secondary;
            }
        }
    }
    .declaration {
        margin: 50px 0 60px 0;
        padding: 0;
        @include max-width($sm) {
            margin: 40px 0 40px 0;
        }
        p {
            font-size: 14px;
            color: #9c9c9c;
            line-height: 28px;
            @include max-width($sm) {
                line-height: 24px;
            }
            span {
                color: $body-text;
            }
            u {
                font-family: $primary-font-medium;
            }
        }
    }
    .copyright-section {
        background-color: #111113;
        margin: 0;
        padding: 10px 0;
        @include max-width($sm) {
            text-align: center;
        }
        p {
            font-size: 16px;
            color: $dark-gray-text;
            margin: 5px 0;
            @include max-width($sm) {
                margin: 0;
                font-size: 14px;
            }
        }
        a {
            color: $dark-gray-text;
            font-size: 16px;
            margin: 0 0 0 20px;
            display: inline-block;
            &:hover {
                color: $secondary;
            }
            @include max-width($sm) {
                margin: 0 10px 0;
                font-size: 14px;
            }
        }
    }
}
.social-icon {
    @include max-width($lg) {
        margin: 20px auto 0;
    }
    @include max-width($md) {
        margin: 0;
    }
    ul {
        margin: 0;
        @extend .flex;
        li {
            padding: 0;
            margin: 0 0 0 20px;
            @include max-width($xxs) {
                margin-left: 15px;
            }
            &:first-child {
                margin-left: 0;
            }
            a {
                width: 32px;
                height: 32px;
                border-radius: 100%;
                background: $white;
                @extend .flex, %justify-center, %align-center;
                img {
                    filter: brightness(0);
                    @extend %transition;
                }
                &:hover {
                    img {
                        filter: brightness(1);
                    }
                }
            }
        }
    }
}
