.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    &.fixedTop {
        background-color: #071645;
        .navbar {
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
    .risk-waring {
        background-color: $body-bg;
        text-align: center;
        padding: 9px 0;
        @include max-width($sm) {
            // padding: 5px 0;
        }
        &.show {
            .container {
                height: auto;
            }
            .toggle-riskwarning {
                span {
                    transform: rotate(-180deg);
                    &::before {
                        top: 2px;
                    }
                }
            }
        }
        .container {
            @include max-width($sm) {
                height: 19px;
                overflow: hidden;
            }
        }
        p {
            font-size: 12px;
            font-weight: 400;
            color: $white;
            line-height: 22px;
            margin: 0;
            .bold {
                font-family: $primary-font-medium;
                color: $light-text;
            }
            @include max-width($sm) {
                line-height: 16px;
                font-size: 10px;
            }
        }
        .toggle-riskwarning {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: $border-light;
            z-index: 2;
            display: none;
            @include max-width($sm) {
                display: block;
            }
            span {
                animation: up-down-arrow 1.5s ease-in-out infinite forwards;
                display: inline-block;
                position: relative;
                top: 0;
                &::before {
                    border: solid $white;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(45deg);
                    position: absolute;
                    top: -13px;
                    left: -4px;
                    content: '';
                    // animation: upDownArrow 0.5 ease-in-out infinite;
                }
            }
        }
    }
    .navbar {
        padding: 28px 0;
        @extend %transition;
        .logo {
            max-width: 115px;
        }
        .offcanvas {
            flex-grow: inherit;
        }
        .navbar-toggler {
            background-color: $secondary;
            border-color: rgba(255, 255, 255, 0.5);
            padding: 10px;
            margin-right: 20px;
            border-radius: 10px;
            @include max-width($md) {
                padding: 8px;
            }
            @include max-width($sm) {
                padding: 4px;
                margin-right: 10px;
            }

            &:focus {
                box-shadow: none;
            }
            .navbar-toggler-icon {
                filter: brightness(20);
            }
        }
    }
    .header-right {
        .btn {
            @include max-width($xxs) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}
@keyframes up-down-arrow {
    0% {
        top: -2px;
    }
    50% {
        top: 2px;
    }
    100% {
        top: 0px;
    }
}

.nav.topnav {
    padding: 0;
    margin: 0 auto;
    @include max-width($lg) {
        flex-direction: column;
    }
    li {
        margin: 0;
        padding: 0 15px;
        position: relative;
        @include max-width($lg) {
            border-bottom: solid 1px $border-light;
            padding: 0 20px;
            &.search-icon {
                display: none;
            }
        }
        & button {
            display: flex;
            align-items: center;
            color: inherit;
            font-size: inherit;
            border: none;
            background-color: transparent;
            cursor: pointer;
            width: 100%;
            span {
                margin-left: 3px;
            }
            .arrow::after {
                content: '';
                display: inline-block;
                margin-left: 0.28em;
                vertical-align: 0.09em;
                border-top: 0.42em solid $white;
                border-right: 0.32em solid transparent;
                border-left: 0.32em solid transparent;
            }
            .mainlink {
                color: $white;
                margin: 0;
                padding: 10px 0;
                font-size: 16px;
                font-family: $primary-font-medium;
                &:hover {
                    color: $secondary;
                }
            }
        }

        a {
            color: $white;
            margin: 0;
            padding: 10px 0;
            font-size: 16px;
            font-family: $primary-font-medium;
            &:hover {
                color: $secondary;
            }
        }
        .submenu {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9;
            top: 100%;
            min-width: 200px;
            padding: 0.5rem 0;
            list-style: none;
            background-color: $menu-bg;
            border: solid 1px $border-light;
            border-radius: 8px;
            display: none;
            @include max-width($lg) {
                position: relative;
                border: 0;
                padding: 0;
                margin: -5px 0 10px 0;
            }
            &.show {
                display: block;
            }
            li {
                margin: 0 0 5px 0;
                &:last-child {
                    margin-bottom: 0;
                    @include max-width($lg) {
                        border-bottom: 0;
                    }
                }
                @include max-width($lg) {
                    padding: 0;
                    margin: 0;
                }
                a {
                    padding: 6px 10px;
                    font-family: $primary-font-regular;
                    border-radius: 8px;
                    &:hover,
                    &.active {
                        background-color: #2d3f6a;
                        color: $white;
                    }
                    @include max-width($lg) {
                        padding: 8px 10px;
                        &:hover {
                            background: none;
                            color: $secondary;
                        }
                    }
                }
            }
            .dropdown-submenu {
                position: absolute;
                left: 100%;
                top: -7px;
            }
        }
    }
}
.offcanvas {
    background: $menu-bg;
    @include max-width($lg) {
        max-width: 300px;
    }
    &.show {
    }
    .offcanvas-header {
        padding-bottom: 10px;
        .btn-close {
            filter: contrast(0) brightness(100);
            background-size: 60%;
            box-shadow: none !important;
        }
    }
    .offcanvas-body {
        padding: 0;
    }
}
