// Banner Css Start
.banner-wrap {
    margin: 0;
    padding: 0;
    // &.togglerisk {
    //     margin-top: 65px;
    //     @include max-width(440px) {
    //         margin-top: 75px;
    //     }
    // }
    // @include max-width($sm) {
    //     margin-top: 35px;
    // }
    .banner-item {
        margin: 0;
        padding: 0;
        position: relative;
        border-radius: 0 0 0 150px;
        overflow: hidden;
        z-index: 1;
        @include max-width($sm) {
            border-radius: 0 0 0 80px;
        }
    }
    .banner-img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
        border-radius: 0 0 0 150px;
        overflow: hidden;
        @include max-width($sm) {
            border-radius: 0 0 0 80px;
        }
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba($black, 0.5);
            // z-index: -1;
        }
        img {
            width: 100%;
            // position: absolute;
            // top: 0;
            // left: 0;
            // z-index: -2;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        video {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
            object-position: center center;
        }
    }
    .banner-content-wrap {
        min-height: 500px;
        height: calc(100vh - 62px);
        @extend .flex, %align-center;
        @include max-width($md) {
            min-height: 600px;
        }
        @include max-width($sm) {
            height: 500px;
            padding-top: 40px;
            // height: calc(100dvh - 75px);
        }
        .banner-content {
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            h1 {
                text-transform: capitalize;
            }
            h2 {
                color: $white;
                font-size: 54px;
                line-height: 64px;
                font-family: $primary-font-bold;
                font-weight: normal;
                margin: 0 0 20px 0;
                text-transform: capitalize;
                @include max-width($xl) {
                    font-size: 44px;
                }
                @include max-width($lg) {
                    font-size: 40px;
                    line-height: 60px;
                }
                @include max-width($md) {
                    font-size: 38px;
                    line-height: 50px;
                }
                @include max-width($sm) {
                    font-size: 30px;
                    line-height: 46px;
                }
            }
            h6 {
                font-family: $primary-font-regular;
                opacity: 0.8;
            }
            p {
                font-size: 20px;
                margin: 0 0 20px 0;
                font-family: $primary-font-regular;
                @include max-width($md) {
                    font-size: 18px;
                    line-height: 30px;
                }
                @include max-width($sm) {
                    font-size: 16px;
                    line-height: 28px;
                }
            }
            .btn {
                padding: 22px 25px;
                border-radius: 24px;
                font-size: 20px;
                @include max-width($lg) {
                    font-size: 18px;
                    padding: 20px 25px;
                }
                @include max-width($md) {
                    font-size: 16px;
                    padding: 18px 22px;
                }
                @include max-width($sm) {
                    font-size: 16px;
                    padding: 15px 20px;
                }
            }
        }
    }
    .slick-dots {
        bottom: 15%;
        @include max-width($md) {
            bottom: 10%;
        }
        @include max-width($sm) {
            bottom: 7%;
        }
        li {
            width: auto;
            height: auto;
            &.slick-active {
                button {
                    width: 46px;
                    background-color: #93cafb;
                    opacity: 1;
                }
            }
            button {
                width: 23px;
                height: 5px;
                padding: 0;
                background-color: $white;
                opacity: 0.5;
                border-radius: 10px;
                @extend %transition;
                &::before {
                    display: none;
                }
            }
        }
    }

    // INNER PAGE BANNER
    &.inner-banner {
        .banner-content-wrap {
            height: 610px;
            @include max-width($md) {
                height: 570px;
                min-height: auto;
            }
            @include max-width($sm) {
                height: 460px;
            }
        }
    }
    // INNER SMALL BANNER
    &.inner-banner-small {
        .banner-content-wrap {
            height: 488px;
            min-height: auto;
            // @include max-width($md) {
            //     height: 570px;
            //     min-height: auto;
            // }
            // @include max-width($sm) {
            //     height: 460px;
            // }
            .banner-content {
                max-width: 1000px;
                h6 {
                    margin: 50px 0 30px 0;
                    @include max-width($sm) {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
                p {
                    color: $white;
                    margin: -10px 0 0;
                }
            }
        }
    }
}
// Banner Css END

// AWARD WINNING Css Start
.award-winning-section {
    margin: 0;
    padding: 110px 0 0px;
    position: relative;
    overflow: hidden;
    @include max-width($xl) {
        padding: 70px 0 0px;
    }
    @include max-width($sm) {
        padding: 50px 0 0px;
    }
    // &::after {
    //     content: '';
    //     width: 40vw;
    //     height: 675px;
    //     position: absolute;
    //     top: 10%;
    //     right: 0;

    //     z-index: -1;
    // }
    .award-winning-inner {
        margin-top: 40px;
        padding: 90px 0 70px;
        // background: url(../../images/pattern-1.svg) no-repeat;
        // background-size: 40vw 100%;
        // background-position: right bottom;
        position: relative;
        @include max-width($xl) {
            padding: 50px 0 70px;
        }
        @include max-width($md) {
            padding: 0px 0 70px;
        }
        @include max-width($sm) {
            padding: 0px 0 40px;
        }
        .platform-logo {
            min-height: 450px;
            max-width: 410px;
            height: 100%;
            margin-top: 30px;
            margin-left: 40px;
            position: relative;
            @include max-width($xl) {
                margin-left: 0;
                min-height: 400px;
                max-width: 340px;
            }
            @include min-max-width($xs, $md) {
                min-height: 320px;
                max-width: 550px;
                margin: 0 auto 20px;
            }
            @include max-width($xs) {
                margin: 0 auto 40px;
            }

            .platform-icon {
                box-sizing: content-box;
                background: #1c1c1c;
                border-radius: 100%;
                position: absolute;
                padding: 10px;
                left: 0%;
                top: 0%;
                // @extend %transition;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: -5%;
                    z-index: -1;
                    border-radius: 100%;
                    background: linear-gradient(
                        180deg,
                        #808080 0%,
                        rgba(158, 158, 158, 0.11) 100%
                    );
                }
                .platform-icon-inside {
                    background-color: $light-text;
                    border-radius: 100%;
                    @extend .flex, %align-center, %justify-center;
                    &::before {
                        padding-top: 100%;
                        content: '';
                        float: left;
                    }
                }
                &.icon-1 {
                    left: 25%;
                    padding: 5px;
                    .platform-icon-inside {
                        width: 33px;
                    }
                }
                &.icon-2 {
                    top: 14%;
                    left: 14%;

                    .platform-icon-inside {
                        width: 57px;
                    }
                }
                &.icon-3 {
                    left: 40%;
                    padding: 20px;
                    &::before {
                        margin: -3%;
                    }
                    @include max-width($xl) {
                        left: 42%;
                    }
                    @include min-max-width($xs, $md) {
                        left: 37%;
                    }
                    .platform-icon-inside {
                        width: 129px;
                        @include max-width($xl) {
                            width: 100px;
                        }
                    }
                }
                &.icon-4 {
                    left: auto;
                    right: 0;
                    top: 28%;
                    padding: 5px;
                    @include min-max-width($xs, $md) {
                        top: 26%;
                    }
                    .platform-icon-inside {
                        width: 51px;
                    }
                }
                &.icon-5 {
                    left: 3%;
                    top: 40%;
                    padding: 20px;
                    &::before {
                        margin: -3%;
                    }
                    @include min-max-width($xs, $md) {
                        top: 46%;
                    }
                    .platform-icon-inside {
                        width: 124px;
                        @include max-width($xl) {
                            width: 94px;
                        }
                    }
                }
                &.icon-6 {
                    left: auto;
                    right: 13%;
                    top: 47%;
                    padding: 20px;
                    @include max-width($xl) {
                        right: 16%;
                        top: 45%;
                        padding: 15px;
                    }
                    @include min-max-width($xs, $md) {
                        right: 16%;
                        top: 25%;
                    }
                    &::before {
                        margin: -3%;
                    }
                    .platform-icon-inside {
                        width: 88px;
                        @include max-width($xl) {
                            width: 70px;
                        }
                    }
                }
                &.icon-7 {
                    left: 37%;
                    top: 78%;
                    @include min-max-width($xs, $md) {
                        left: 40%;
                        top: 56%;
                    }
                    .platform-icon-inside {
                        width: 50px;
                    }
                }
                &.icon-8 {
                    left: 62%;
                    top: 82%;
                    padding: 5px;
                    @include min-max-width($xs, $md) {
                        left: 63%;
                        top: 58%;
                    }
                    .platform-icon-inside {
                        width: 51px;
                    }
                }
                img {
                    max-width: 80%;
                    max-height: 80%;
                }
            }
        }
    }
    .tabs-wrap {
        margin: 0;
        padding: 0;
        background-color: $white;
        border-radius: 20px;
        @extend .flex;
        .nav {
            box-shadow: inset 0px 14px 23px rgba(0, 0, 0, 0.1);
            .nav-item {
                flex: 1;
                min-width: 60px;
                // @include max-width($lg) {
                //     min-width: 50px;
                // }
                .nav-link {
                    height: 100%;
                    border-radius: 10px 0 0 10px;
                    position: relative;
                    @extend %transition;
                    @extend .flex, %align-center, %justify-center;
                    &.active {
                        background-color: #4264c2;
                        margin-left: -10px;
                        img {
                            filter: brightness(20);
                        }
                    }
                }
            }
        }
        .tab-content {
            flex: 1;
            border-radius: 0 20px 20px 0;
            overflow: hidden;
            box-shadow: 0px 15px 18px rgba(0, 0, 0, 0.15);
            h5 {
                color: $dark-blue;
                margin: 0;
                font-size: 23px;
                padding: 18px 15px;
                @include max-width($md) {
                    font-size: 20px;
                }
                @include max-width($sm) {
                    font-size: 18px;
                }
            }
            .table-wrap {
                @include max-width($xs) {
                    overflow-x: auto;
                }
            }
            .table {
                margin: 0;
                vertical-align: middle;
                font-family: $primary-font-medium;
                @include max-width($lg) {
                    font-size: 14px;
                }
                & > :not(caption) > * > * {
                    color: $gray-text;
                    border-bottom-color: #f1f5ff;
                }
                th {
                    background-color: #f1f5ff;
                    color: $dark-blue;
                    padding: 20px 15px;
                    font-family: $primary-font-bold;
                    @include max-width($sm) {
                        padding: 15px 10px;
                    }
                }
                td {
                    padding: 15px 15px;
                    @include max-width($lg) {
                        padding: 15px 10px;
                    }
                    @include max-width($sm) {
                        padding: 10px 10px;
                    }
                }
                h6 {
                    color: $dark-blue;
                    margin: 0;
                    font-size: 18px;
                    font-family: $primary-font-medium;
                    @include max-width($lg) {
                        font-size: 16px;
                    }
                }
                .platform-icon {
                    border: solid 1px #bccaed;
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    margin-right: 10px;
                    @extend .flex, %align-center, %justify-center;
                    img {
                        max-width: 65%;
                        max-height: 65%;
                    }
                }
                .btn-outline-primary {
                    padding: 7px 15px;
                }
            }
        }
    }
}
.animation-balls {
    background: linear-gradient(
        180deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 100%
    );
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &.balls-1 {
        left: 4%;
        top: 31%;
    }
    &.balls-2 {
        left: auto;
        right: 5%;
        top: 16%;
        width: 18px;
        height: 18px;
        @include min-max-width($xs, $md) {
            right: 14%;
            top: 10%;
        }
    }
    &.balls-3 {
        left: 24%;
        top: 82%;
        @include min-max-width($xs, $md) {
            left: 30%;
            top: 78%;
        }
    }
    &.balls-4 {
        width: 24px;
        height: 24px;
        left: auto;
        top: 47%;
        right: 3%;
        @include min-max-width($xs, $md) {
            top: 53%;
            right: 10%;
        }
    }
}
// AWARD WINNING Css END

// MT5 SECTION Css Start
.mt5-section {
    margin: 0;
    padding: 180px 0;
    position: relative;
    @include max-width($xl) {
        padding: 100px 0 80px;
    }
    @include max-width($sm) {
        padding: 60px 0 80px;
    }
    .parallax {
        overflow: visible !important;
    }
    .mt5-animation {
        position: relative;
        @include max-width($sm) {
            margin: 20px 0 0px;
        }
        .rotate-animation {
            position: relative;
            @include max-width($xs) {
                transform: scale(1.1);
            }
            &::before {
                position: absolute;
                content: '';
                left: 50%;
                top: 50%;
                width: 2px;
                height: 2px;
                // box-shadow: 0px 0px 93px 100px rgba(235, 235, 235, 0.2),
                //     0px 0px 100px 100px rgba(235, 235, 235, 0.2),
                //     0px 0px 100px 89px rgba(235, 235, 235, 0);
            }
        }
        .glow-image {
            position: absolute;
            left: 0;
            top: 0;
            transform: scale(1.3);
        }
        .device-image {
            position: absolute !important;
            left: 50%;
            top: 50%;
            overflow: visible !important;
            transform: translate(-50%, -50%);
            max-width: 502px;
            width: 100%;
            @include max-width($lg) {
                max-width: 370px;
            }
            @include max-width($xs) {
                max-width: 80%;
            }
        }
    }
}

// STEP SECTION Css Start
.step-section {
    margin: 0;
    padding: 30px 0 80px;
    position: relative;
    min-height: 500px;
    @include max-width($xl) {
        padding: 0px 0 50px;
    }
    @include max-width($lg) {
        padding: 0px 0;
    }
    .plus-logo-animation {
        top: 20%;
    }
    .popular-market-stock {
        position: relative;
        margin-bottom: 30px;
        @include max-width($md) {
            // min-height: 510px;
            max-width: 490px;
            width: 100%;
            margin: 255px auto 300px;
            display: inline-block;
        }
        @include max-width($xs) {
            // margin: 0 0 40px;
            max-width: 400px;
            margin: 0 auto 40px;
        }
        @include max-width($xxs) {
            // margin: 0 0 40px;
            max-width: 350px;
        }
        // @include max-width($xxxs) {
        //     // margin: 0 0 40px;
        //     max-width: 320px;
        // }
        .st-card {
            position: absolute;
            top: 43%;
            left: 50%;
            @include max-width($xs) {
                position: relative;
                transform: translate(0, 0) !important;
                left: 0;
                top: 0;
                margin: 0 0 20px 0;
            }
        }
        .stock-card {
            box-shadow: 0px 17px 28px rgba(0, 0, 0, 0.15);
            border-radius: 14px;
            background-color: $white;
            padding: 15px;
            overflow: hidden;
            @extend .flex, %align-center;
            &.lg-card {
                transform: scale(1.2) translateY(-190%);
                transform-origin: right;
                left: auto;
                right: 0;
                width: 54%;
                @include max-width($lg) {
                    width: 58%;
                    // padding-right: 10px;
                }
                @include max-width($xs) {
                    width: 100%;
                    transform: scale(1);
                }
            }
            &.sm-card {
                transform: translateY(-90%) translateX(-106%);
                width: 54%;
                @include max-width($lg) {
                    width: 56%;
                    transform: translateY(-90%) translateX(-100%);
                    // padding-right: 10px;
                }
                @include max-width($xs) {
                    width: 100%;
                }
            }
            &.onlyStocklogo {
                padding: 0;
                transform: translateY(70%) translateX(-238%);
                width: 21%;
                @include max-width($xs) {
                    float: left;
                    margin-right: 20px;
                }
                img {
                    width: 100%;
                }
            }
            &.onlyStocklogo2 {
                padding: 0;
                width: 18%;
                transform: translate(-140%, 40%);
                img {
                    width: 100%;
                }
            }
            .company-logo {
                flex-shrink: 0;
                margin-right: 10px;
                max-width: 75px;
                max-height: 75px;
                border-radius: 10px;
                overflow: hidden;
                @include max-width($xl) {
                    max-width: 55px;
                    max-height: 55px;
                }
                @include max-width($lg) {
                    max-width: 50px;
                    max-height: 50px;
                }
                & + div {
                    flex: 1;
                }
            }
            p {
                font-size: 18px;
                color: $black;
                font-family: $primary-font-bold;
                margin: 0;
                line-height: 30px;
                @extend .flex, %justify-between;
                @include max-width($xl) {
                    font-size: 16px;
                }
                @include max-width($lg) {
                    font-size: 14px;
                    line-height: 24px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                .stock-name {
                    min-width: 75px;
                    display: inline-block;
                    color: #236be0;
                    text-align: left;
                    @include max-width($lg) {
                        min-width: 60px;
                    }
                }
                .full-name {
                    font-family: $primary-font-medium;
                    color: $black;
                }
            }
        }
        .step-cover-img {
            border-radius: 24px;
            overflow: hidden;
            right: 0;
            left: auto;
            // position: relative;
            width: 47%;
            margin: 20px 0 0 0;
            transform: translateY(-25%);
            box-shadow: 0px 17px 28px rgba(0, 0, 0, 0.15);
            @include max-width($xs) {
                width: 100%;
            }
            &::after {
                content: '';
                padding-top: 130%;
                float: left;
            }
            img {
                position: absolute;
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }
    }
    .step-wrap {
        margin-top: 60px;
        @include max-width($md) {
            margin-top: 0;
        }

        ul {
            li {
                margin: 0;
                padding: 0 0 80px 0;
                @extend .flex, %align-center;
                position: relative;
                @include max-width($md) {
                    padding: 0 0 50px 0;
                }
                &::after {
                    content: '';
                    width: 4px;
                    height: 50%;
                    position: absolute;
                    left: 46px;
                    top: 50%;
                    z-index: -1;
                    // background: linear-gradient(
                    //     180deg,
                    //     #808080 0%,
                    //     rgba(158, 158, 158, 0.11) 100%
                    // );
                    background: url(../../images/step-line.png) no-repeat;
                    @include max-width($md) {
                        left: 40px;
                    }
                }
                &:last-child {
                    padding-bottom: 0;
                    &::before {
                        display: none;
                    }
                }
                .step-icon {
                    width: 90px;
                    height: 90px;
                    flex-shrink: 0;
                    background: $dark-gray-bg;
                    position: relative;
                    border-radius: 100%;
                    margin: 4px 25px 4px 4px;
                    @extend .flex, %align-center, %justify-center;
                    @include max-width($md) {
                        width: 80px;
                        height: 80px;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        margin: -4px;
                        z-index: -1;
                        border-radius: 100%;
                        background: linear-gradient(
                            180deg,
                            #808080 0%,
                            rgba(158, 158, 158, 0.11) 100%
                        );
                    }
                }
                p {
                    background: linear-gradient(
                        180deg,
                        #ffffff 0%,
                        rgba(255, 255, 255, 0) 120.31%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    font-family: $primary-font-bold;
                    margin: 0;
                }
                h6 {
                    margin: 0;
                }
            }
        }
    }
}

// TOOLS SECTION Css Start
.tools-section {
    margin: 220px 0 80px;
    padding: 0px 0;
    position: relative;
    @include max-width($xl) {
        margin: 140px 0 20px;
    }
    @include max-width($md) {
        margin: 100px 0 0px;
    }
    @include max-width($xs) {
        margin: 80px 0 0px;
    }
    .plus-logo-animation {
        top: -10%;
        @include max-width($md) {
            top: -3%;
        }
    }
    &::after {
        position: absolute;
        left: 0;
        top: 50px;
        height: calc(100% - 50px);
        background: url(../../images/pattern-2.svg) repeat-x left center;
        content: '';
        width: 70vw;
        z-index: -1;
    }
    .tools-section-inside {
        padding: 70px 0;
        @include max-width($md) {
            padding: 30px 0 60px;
        }
    }
    .faqs-section {
        margin: 50px 0 0 0;
        @include max-width($lg) {
            margin: 30px 0 0 0;
        }
        @include max-width($md) {
            margin: 0 0 40px 0;
        }
    }
    .tools-animation {
        .tools-animation-row {
            @extend .flex;
            &:last-child {
                .tools-img {
                    align-self: flex-start;
                    &:first-child {
                        border-radius: 0px 0 0px 40px;
                        // width: 33%;
                    }
                    &:last-child {
                        border-radius: 0 0 40px 0px;
                    }
                }
            }
            .tools-img {
                margin: 0 10px 20px;
                overflow: hidden;
                width: 50%;
                padding: 0;
                align-self: flex-end;
                position: relative;
                @extend %transition;
                @include max-width($md) {
                    margin: 0 5px 10px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    object-fit: cover;
                    object-position: center;
                }
                &::after {
                    content: '';
                    float: left;
                    padding-top: 110%;
                }
                &.active {
                    width: 75%;
                    &::after {
                        padding-top: 105%;
                    }
                }
                &:first-child {
                    border-radius: 40px 0 0 0;
                    // width: 33%;
                }
                &:last-child {
                    border-radius: 0 40px 0 0;
                }
                // &:nth-child(2) {
                //     border-radius: 0 40px 0 0;
                //     // width: 33%;
                // }
                // &:nth-child(3) {
                //     border-radius: 0 0 0 40px;
                // }
                // &:last-child {
                //     border-radius: 0 0 40px 0;
                // }
            }
        }
    }
}
